@mixin title( $variable) {

    a,h1,h2,h3,h4,h5,h6 ,table,.ms-news-flash *,.ms-infographics-widget.has-graph .ms-card-body+p,
    p:not([class*="ms-text-"]),span:not([class*="ms-text-"]),.ms-quick-bar-item i,.ms-configure-qa i,.text-disabled,
    .ms-crypto-rating a.has-chevron,.ms-email .ms-email-sender,.ms-text-dark,.ms-text-dark:hover,.ms-text-dark:focus,
    .ms-chat-conversations .ms-chat-controls li i,.ms-notification-widget i,.accordion .card-header span,.accordion .card-body,
    .progress-rounded .progress-value,.page-item:not(.active) .page-link,
    .page-item:not(.active-bordered) .page-link,.page-item:not(.active-round) .page-link,
    .modal-min .ms-form-group.has-icon i,.modal-max .ms-form-group.has-icon i,.swal2-popup .swal2-title,
    .swal2-popup .swal2-content,pre,.ms-icons-list>div>i,.ms-email-list .ms-list-item i,.ms-delete-trigger,
    .ms-to-do-task input.ms-task-input,.side-nav .menu-item a span ,label,
     a.router-link-active,.breadcrumb-item.active,
     .pagination li button.parghPag ,
     .side-nav li.menu-item a:hover, .side-nav li.menu-item a:hover span, .side-nav li.menu-item a.active, .side-nav li.menu-item a.active span, .side-nav li.menu-item ul li a.active
    {
        color: $variable ;
    }
    label {
        color: $variable;
     
    }
    li a.router-link-active {
         color: $variable  !important;
        border-bottom: 1px solid $variable !important;
     }
    
     .btnNav{
        color: $variable ;
        border-color: $variable ;
     }

     .btn-danger:hover, .btn-danger:focus, .ms-btn-icon-outline.btn-danger:focus, .btn-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:hover {
        color: #fff !important;
        background-color: $variable ;
    }
    .nav-tabs li a.active {
        color: #fff !important;
        background-color: $variable  !important;
    }
    .bg-primary{
        background-color: $variable  !important;
    }
    .btn-primary {
        color: #fff;
        background-color: $variable ;
        border-color: $variable ;
    }
    .btn-danger{
        background-color: $variable ;
        border-color: $variable ;
    }
     .btn-danger:focus{
        box-shadow: 0 0 0 0.2rem rgb(3 83 164 / 50%);
    }
    .btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgb(3 83 164 / 50%);
    }
    .btn-danger:hover, .btn-danger:focus, .ms-btn-icon-outline.btn-danger:focus, .btn-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:hover{
        border-color:  $variable ;
    }
    // a.styleAll:hover ,.header ul li a, .header ul li button{
    //      color: $variable  !important; 
    // }
    // a.styleAll:hover::after {
    //     background-color: $variable ;
    //     color: $variable  !important;
    // }
    .nav-tabs-OrderOptions li > a svg {
        fill: $variable  !important;
    }
    .nav-tabs-OrderOptions li > a.active svg {
        fill: white !important;
    }
    .bg-Orange span{
        color: #fff;
    }
    .pagination li .parghPag:hover {
        background-color:  $variable ;
        color: #fff !important;
    }
    .btn-outline-danger.focus, .btn-outline-danger:focus {
        box-shadow: 0 0 0 0.2rem rgb(3 83 164 / 50%);
    }
    .btn-outline-danger:not(:disabled):not(.disabled).active, .btn-outline-danger:not(:disabled):not(.disabled):active, .show>.btn-outline-danger.dropdown-toggle {
        background-color: $variable ;
        border-color: $variable ;
        box-shadow: 0 0 0 0.2rem rgb(3 83 164 / 50%);
    }
    .breadcrumb-item a.active {
        color: $variable  !important;
    }
    .header ul li a.active {
        background:  $variable !important;
        color: #fff !important;
        border-radius: 7px;
    }
    .header ul li button svg {
        fill:$variable ;
    }
    // .side-nav .logo-sn, .side-nav .menu-item ul ,.body-content{
    //     background-color:rgba($color: $variable, $alpha: .2) !important ;
    // }

//    .ng-star-inserted span{
//         color: #fff;
//     }

}

body.green-font-theme{
   
    @include title( $variable:$green-color );
}
body.yellow-font-theme{
   
    @include title( $variable:$yellow-color );
}
body.blue-font-theme{
  
    @include title( $variable:$blue-color );
}
body.pink-font-theme{

    @include title( $variable:$pink-color );
}
body.white-font-theme{
    @include title( $variable:$white-color );
}
body.orange-font-theme{
    @include title( $variable:$orange-color );
}
/**/

.theme-color {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;

    > a {
        position: relative;
        width: 45px;
        height: 30px;
        border-radius: 3px;
        display: inline-block;
        background: $theme-background;
      //  overflow: hidden;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);
        margin-left: 8px;
        // +a {
            
        // }

        span {
            width: 100%;
            position: absolute;

            &:after,
            &:before {
                content: "";
                height: 100%;
                position: absolute;
            }

            &:before {
                width: 32%;
                left: 0;
                background: $menu-dark-background;
            }

            &:after {
                width: 70%;
                right: 0;
                background: $theme-background;
            }
        }

        > span:nth-child(1) {
            height: 30%;
            top: 0;

            &:after {
                background: $header-light-background;
            }
        }

        > span:nth-child(2) {
            height: 75%;
            bottom: 0;
        }

        &.active {
            &:before {
                content: "\e83e";
                top: 1px;
                font-size: 20px;
                position: absolute;
                left: 12px;
                font-family: "feather";
                z-index: 1001;
                color: $primary-color;
                transition: 0.15s ease-in-out;
                text-shadow: 0 1px 3px transparentize($primary-color,0.1), 0 3px 8px rgba(0, 0, 0, 0.1);
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.7);
            }
        }

        &[data-value="menu-light"] {
            span {
                &:before {
                    background: $menu-light-background;
                }
            }
        }

        &[data-value="dark"] {
            span {
                &:after {
                    background: darken($dark-layout, 7%);
                }
            }
        }

        &[data-value="reset"] {
            background: $danger-color;
            color: #fff !important;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            //top: -10px;
            width: 135px;
            box-shadow: none;
        }
    }

    &.small {
        > a {
            width: 25px;
            height: 25px;
            border-radius: 50%;

            &:before {
                font-size: 15px;
                left: 5px;
                top: 1px;
            }

            > span {
                display: none;
            }
        }
    }

    &.header-color {
        @each $value in $color-header-name {
            $i: index($color-header-name, $value);

            > a {
                &[data-value="header-#{$value}"] {
                    > span:nth-child(1) {
                        background: linear-gradient(to right, nth($color-header-color,$i), nth($color-header-color2,$i));

                        &:after,
                        &:before {
                            background: transparent;
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="header-#{$value}"] {
                    background: nth($color-header-color,$i);
                }
            }
        }
    }

    &.navbar-color {
        @each $value in $color-menu-name {
            $i: index($color-menu-name, $value);

            > a {
                &[data-value="navbar-#{$value}"] {
                    > span:nth-child(2) {
                        &:before {
                            background: nth($color-menu-color,$i);
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="navbar-#{$value}"] {
                    background: nth($color-menu-color,$i);
                }
            }
        }
    }

    &.brand-color {
        @each $value in $color-header-name {
            $i: index($color-header-name, $value);

            > a {
                &[data-value="brand-#{$value}"] {
                    > span:nth-child(1) {
                        &:before {
                            background: nth($color-header-color,$i);
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="brand-#{$value}"] {
                    background: nth($color-header-color,$i);
                }
            }
        }
    }
}

