
.theme-color {
    display: block;
    position: relative;
    padding: 0;
    margin-bottom: 10px;

    > a {
        position: relative;
        width: 45px;
        height: 30px;
        border-radius: 3px;
        display: inline-block;
        background: $theme-background;
        overflow: hidden;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.28);

        +a {
            margin-left: 8px;
        }

        span {
            width: 100%;
            position: absolute;

            &:after,
            &:before {
                content: "";
                height: 100%;
                position: absolute;
            }

            &:before {
                width: 32%;
                left: 0;
                background: $menu-dark-background;
            }

            &:after {
                width: 70%;
                right: 0;
                background: $theme-background;
            }
        }

        > span:nth-child(1) {
            height: 30%;
            top: 0;

            &:after {
                background: $header-light-background;
            }
        }

        > span:nth-child(2) {
            height: 75%;
            bottom: 0;
        }

        &.active {
            &:before {
                
                top: 1px;
                font-size: 20px;
                position: absolute;
                left: 12px;
                z-index: 1001;
                color: $primary-color;
                transition: 0.15s ease-in-out;
                text-shadow: 0 1px 3px transparentize($primary-color,0.1), 0 3px 8px rgba(0, 0, 0, 0.1);
                content: '\f058'; /* You should use \ and not /*/
                font-family: "Font Awesome 5 Free"; /* This is the correct font-family*/
            }

            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0.7);
            }
        }

        &[data-value="menu-light"] {
            span {
                &:before {
                    background: $menu-light-background;
                }
            }
        }

        &[data-value="dark"] {
            span {
                &:after {
                    background: darken($dark-layout, 7%);
                }
            }
        }

        &[data-value="reset"] {
            background: $danger-color;
            color: #fff;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 135px;
            box-shadow: none;
        }
    }

    &.small {
        > a {
            width: 25px;
            height: 25px;
            border-radius: 50%;

            &:before {
                font-size: 15px;
                left: 5px;
                top: 1px;
            }

            > span {
                display: none;
            }
        }
    }

    &.header-color {
        @each $value in $color-header-name {
            $i: index($color-header-name, $value);

            > a {
                &[data-value="header-#{$value}"] {
                    > span:nth-child(1) {
                        background: linear-gradient(to right, nth($color-header-color,$i), nth($color-header-color2,$i));

                        &:after,
                        &:before {
                            background: transparent;
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="header-#{$value}"] {
                    background: nth($color-header-color,$i);
                }
            }
        }
    }

    &.navbar-color {
        @each $value in $color-menu-name {
            $i: index($color-menu-name, $value);

            > a {
                &[data-value="navbar-#{$value}"] {
                    > span:nth-child(2) {
                        &:before {
                            background: nth($color-menu-color,$i);
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="navbar-#{$value}"] {
                    background: nth($color-menu-color,$i);
                }
            }
        }
    }

    &.brand-color {
        @each $value in $color-header-name {
            $i: index($color-header-name, $value);

            > a {
                &[data-value="brand-#{$value}"] {
                    > span:nth-child(1) {
                        &:before {
                            background: nth($color-header-color,$i);
                        }
                    }
                }
            }

            &.small > a {
                &[data-value="brand-#{$value}"] {
                    background: nth($color-header-color,$i);
                }
            }
        }
    }
}
.pcoded-navbar {
    display: block;
    z-index: 1028;
    position: absolute;
    // box-shadow: 2px 0 2.94px 0.06px rgba(4,26,55,0.16);
    // transition: all 0.05s ease-in-out;
    top: 0;
    background: $menu-dark-background;
    // color: $menu-dark-text-color !important;
    &.side-nav .logo-sn, &.side-nav .menu-item ul{
        background-color: $menu-dark-backgroundUlInside ;
    }
    .mainTitle{
        color: #fff !important;
        font-weight: 600;
    }
    .mainTitleLink{
        color:  #b9c7d4;
        // transition: all 0.3s ease !important;
        font-weight: 400;
        &:hover{
            color: #fff;
            
        }
        &.router-link-active{
            color:#f5efff !important ;
            font-weight: 600;
            &:hover{
                color: #fff ;
               
            }
        }
    }

    
}
/*====== [ light menu style start ] ======== */

.pcoded-navbar.menu-light {
    background-color: $menu-light-background;
    color: $menu-light-text-color;
    &.side-nav .menu-item ul {
        background-color: #ebebeb;
    }
    &.side-nav .logo-sn {
        background-color: #4f8dca;
    }
    .dropdown-item{
        color: #fff;
        font-weight: 600;
    }
    .mainTitle{
        color: #4f8dca !important;
        font-weight: 600;
    }
    .mainTitleLink{
        color:  #666;
        // transition: all 0.3s ease !important;
        font-weight: 400;
        &:hover{
            color: #4f8dca;
            
        }
        &.router-link-active{
            color:#4f8dca !important ;
            font-weight: 600;
            &:hover{
                color: #666 ;
               
            }
        }
    }
    a {
        color: $menu-light-text-color;
    }

 
   
}
/* ====== [ light menu style end ] ======== */
/*header background*/

/*end header background*/