$contentAll:
1 #3C6EA3,
2 #DB562D,
3 #0068C3,
4 #008800,
5 #892E78,
6 #603B80,
7 #B7770D,
8 #9F9F9F,
9 #d75a88,
10 #e0afa0,
11 #C34F75; 
@each $number , $color in $contentAll {
    /*start bg colors*/
    .bg#{$number} .cardEdit-info::before {
        border-right: 20px solid $color ;
      }
        @media (min-width: 991px){
            .rowEdit{
              button:nth-child(4),button:nth-child(5),button:nth-child(9){
                &.bg#{$number} .cardEdit-info::before {
                  border-left: 20px solid $color;
                  border-right: 20px solid transparent;
                  right: -2.8rem;
                  left: auto;
                }
              } 
            }
            .rowEdit  {
              button:nth-child(4),button:nth-child(5),button:nth-child(9){
              .cardEdit-info {
                right: 100% !important;
                left: auto;
                content: "";
                position: absolute;
                right: -2.8rem;
                border-bottom: 20px solid transparent;
                border-top: 20px solid transparent;
                border-right: 20px solid transparent;
                }
              }
             }
            
            }
            
    }
/***search input***/
input.Search{
  border-radius:  0 0.2em .2em 0;
}
.user-dropdownDrop{
  right:calc(20% - 16px)
}
.LayoutDesign{
  left: -100px;
}
.LayoutDesignArrow{
  right:calc(46% - 16px)
}
/**/
// .nav-tabs li a {
//   display: block;
//   padding: 10px;
//   text-align: center;
//   background: #e4e3e8;
// }
/***/
body {
  line-height: 1.2 !important;
  padding:0 !important;
  margin: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.mdList {
  display: flex;
  text-align: left !important;
}
.searchInputForm {
  margin-left: auto;
}
.navbar {
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 30px;
}
.side-nav .menu-item ul {
  padding-left: 5px;
}

.side-nav .menu-item a {
  position: relative;
  display: block;
  /* padding: 10px 0 10px 25px; */
  -webkit-transition: 0s;
  transition: 0s;
  font-size: 1rem;
  transition: all 0.3s ease; 
  border-bottom: 1px solid rgba( #ccc,  0.7);
}

.mainTitle{
  padding: 10px 0 10px 25px;

}
.mainTitle.padNone:hover{
  padding: 10px 0 10px 25px;
}
.mainTitleLink{
  padding: 10px 0 10px 25px;
  // transition: all 0.3s ease !important;

}
.mainTitleLink:hover{
  padding-left: 32px;
}



.ms-dark-theme .side-nav .menu-item a {
  position: relative;
  display: block;
  padding: 10px 0 10px 25px;
  color: #ffffff;
  -webkit-transition: 0s;
  transition: 0s;
}
.ribbon6.ribbonLayout {
  top: 23px;
  right: 11px;
}

.ribbon6.ribbonLayout {
  width: 180px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50px;
  right: -60px;
  z-index: 2;
  overflow: hidden;
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #53dab6, 0px 21px 5px -18px rgb(0 0 0 / 60%);
  background: #53dab6;
  text-align: center;
}
@media(max-width:1024px){

  .ribbon6.ribbonLayout {
    top: 30px;
    right: -70px;
  }
}
@media(min-width:992px){
 .wrap .ribbon6.ribbonLayout {
  display: block;

  }
}
.HomeLogout{
  width: 120px;
  height: 45px;
  position: fixed;
  right: 0;
  top: 20rem;
  z-index: 1001;
  background: linear-gradient(to right, #ff9701, #ffcb80);
  transition: 0.15s ease-in-out;
  border-radius: 30px 0 0 30px;
  box-shadow: -4px 0 8px rgb(255 182 77 / 16%), -6px 0 8px rgb(0 0 0 / 10%);
}
.HomeLogout a{
 border-right: 1px solid #fff;
}
.HomeLogout span{
  color: #fff;
  text-align: center;
 }
 .positionLogout{
   right: -84.7px;
 }
/* .logedOutBtn:before{
  content: "";

} */

/*style toggle btn stylelayout*/
.layoutStyle{
  width: 120px;
  height: 45px;
  position: fixed;
  right: 0;
  top: 11rem;
  z-index: 1001;
  transition: 0.15s ease-in-out;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  box-shadow: -4px 0 8px rgb(255 182 77 / 16%), -6px 0 8px rgb(0 0 0 / 10%);
}
.layoutStyle a{
 border-right: 1px solid #fff;
   background: linear-gradient(to right, #ff9701, #ffcb80);
}
.layoutStyle span{
  color: #fff;
  text-align: center;
 }
 .positionstyle{
  right: -80.7px;
 }
/**/
.OpenIcon::after{
  content: "\e849";
  position: absolute;
}
.row.editBorder > div:not(:last-of-type){
  border-right: 1px solid #ddd;
}
.row.editBorder > div{
  align-self:center;
  justify-self: flex-start;
  padding: 0 .5rem;
}
.row.editBorder {
  flex:  1  1 auto;
}
@media(max-width:768px){
  .row.editBorder > div:not(:last-of-type){
    border-right: 1px solid transparent;
  }
}


.style-switcher  {
  /* -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 15rem;
  right: 0;
  z-index: 10; */
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d4d4e3;
  /* border-right: none; */
  display: flex;
  flex-direction: column;
  /* border-radius: 0 0 0 5px; */
  width: 20rem;
}
.style-switcher .styleInner{
      padding: 15px 20px;
      box-shadow: none;
      background-color: #f6f7fb;
      border-radius: 4px;
      box-shadow: inset 0 1px 2px rgb(0 0 0 / 24%);
}

.style-switcher-toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #73b4ff;
  left: -46px;
  top: 0;
  border: 1px solid #d4d4e3;
  border-right: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}
.style-switcher-toggle .fa {
  font-size: 20px;
  line-height: 43px;
}
.style-switcher.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}
/*syncfunc*/
/*Accordinate*/
  
.customClass  
.card-header{
    height: 3rem !important;
  }
  .customClass  .card-header::after{
   position: absolute;
   font-family: "FontAwesome";
   content: "\f067";
   width:6px;
   top: 20%;
   height: 100%;
   right: 40px;
   color: #4f8dca;
  transition: all .3s;
   }
   .panel-open .customClass   .card-header::after{
    position: absolute;
    font-family: "FontAwesome";
    content: "\f067";
    width:6px;
    top: 20%;
    height: 100%;
    right: 40px;
    color: #fff;
    transform: rotate(45deg);  
 
    }

    /*home*/

    /*end bg colors*/
    .team-section .cardEdit-info{
      left:100%;
    }  
    @media (max-width: 991px){
      .team-section .cardEdit-info{
        left:0%;
      }
      .team-section .cardEdit-info::before{
        display: none;
      }
    } 

   
    .team-section .cardEdit-info::before{
      content: '';
      position: absolute;
      left: -2.8rem;
      top: -.2rem;
      border-bottom: 20px solid transparent;
      border-top: 20px solid transparent;
      border-left: 20px solid transparent;
    }

    .nav-link {
      display: block;
      padding: .5rem 1rem .5rem 0;
    }

    .folder-structure li::before {
      border-left: 1px solid rgba(0, 0, 0, 0.3);
      content: '';
    
      /* Position */
      left: 2rem;
      position: absolute;
      top: 0;
      transform: translate(calc(-1 * var(--folder-structure-item-margin-left)), 0);
    
      /* Size */
      height: 100%;
    }
    
    .folder-structure li::after {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      content: '';
    
      /* Position */
      left: 1rem;
      position: absolute;
      top: 20px;
      transform: translate(-100%, 0);
    
      /* Size */
      width: 1rem;
    }

    .mainTitleLink{
      position: relative;
    }
    .mainTitleLink:before {
      content: "";
      border-radius: 50%;
      position: absolute;
      top: 17.5px;
      right: 92%;
      width: 6px;
      height: 6px;
      background: rgba(0, 0, 0, 0.6);
     
  }
  .mainTitleLink.router-link-active:before {
    background: #4099ff;
  }
  img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    height: auto;
}

.btnShiftAdd {
  z-index: 5000;
  width: 130px !important;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #00c9b7 !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top: 40%;
  left: 0;
  color: #fff !important;
  border: none;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
}
.styleIcon{
  left: 84%;    position: absolute;  top: 40%;
}
.styleIconTwo{
  
  left: 100%;    position: absolute;  top: 40%;
}