/*start bg colors*/
.bg1 .cardEdit-info::before {
  border-right: 20px solid #3C6EA3;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg1 .cardEdit-info::before, .rowEdit button:nth-child(5).bg1 .cardEdit-info::before, .rowEdit button:nth-child(9).bg1 .cardEdit-info::before {
    border-left: 20px solid #3C6EA3;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg2 .cardEdit-info::before {
  border-right: 20px solid #DB562D;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg2 .cardEdit-info::before, .rowEdit button:nth-child(5).bg2 .cardEdit-info::before, .rowEdit button:nth-child(9).bg2 .cardEdit-info::before {
    border-left: 20px solid #DB562D;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg3 .cardEdit-info::before {
  border-right: 20px solid #0068C3;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg3 .cardEdit-info::before, .rowEdit button:nth-child(5).bg3 .cardEdit-info::before, .rowEdit button:nth-child(9).bg3 .cardEdit-info::before {
    border-left: 20px solid #0068C3;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg4 .cardEdit-info::before {
  border-right: 20px solid #008800;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg4 .cardEdit-info::before, .rowEdit button:nth-child(5).bg4 .cardEdit-info::before, .rowEdit button:nth-child(9).bg4 .cardEdit-info::before {
    border-left: 20px solid #008800;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg5 .cardEdit-info::before {
  border-right: 20px solid #892E78;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg5 .cardEdit-info::before, .rowEdit button:nth-child(5).bg5 .cardEdit-info::before, .rowEdit button:nth-child(9).bg5 .cardEdit-info::before {
    border-left: 20px solid #892E78;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg6 .cardEdit-info::before {
  border-right: 20px solid #603B80;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg6 .cardEdit-info::before, .rowEdit button:nth-child(5).bg6 .cardEdit-info::before, .rowEdit button:nth-child(9).bg6 .cardEdit-info::before {
    border-left: 20px solid #603B80;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg7 .cardEdit-info::before {
  border-right: 20px solid #B7770D;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg7 .cardEdit-info::before, .rowEdit button:nth-child(5).bg7 .cardEdit-info::before, .rowEdit button:nth-child(9).bg7 .cardEdit-info::before {
    border-left: 20px solid #B7770D;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg8 .cardEdit-info::before {
  border-right: 20px solid #9F9F9F;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg8 .cardEdit-info::before, .rowEdit button:nth-child(5).bg8 .cardEdit-info::before, .rowEdit button:nth-child(9).bg8 .cardEdit-info::before {
    border-left: 20px solid #9F9F9F;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg9 .cardEdit-info::before {
  border-right: 20px solid #d75a88;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg9 .cardEdit-info::before, .rowEdit button:nth-child(5).bg9 .cardEdit-info::before, .rowEdit button:nth-child(9).bg9 .cardEdit-info::before {
    border-left: 20px solid #d75a88;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg10 .cardEdit-info::before {
  border-right: 20px solid #e0afa0;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg10 .cardEdit-info::before, .rowEdit button:nth-child(5).bg10 .cardEdit-info::before, .rowEdit button:nth-child(9).bg10 .cardEdit-info::before {
    border-left: 20px solid #e0afa0;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/*start bg colors*/
.bg11 .cardEdit-info::before {
  border-right: 20px solid #C34F75;
}

@media (min-width: 991px) {
  .rowEdit button:nth-child(4).bg11 .cardEdit-info::before, .rowEdit button:nth-child(5).bg11 .cardEdit-info::before, .rowEdit button:nth-child(9).bg11 .cardEdit-info::before {
    border-left: 20px solid #C34F75;
    border-right: 20px solid transparent;
    right: -2.8rem;
    left: auto;
  }
  .rowEdit button:nth-child(4) .cardEdit-info, .rowEdit button:nth-child(5) .cardEdit-info, .rowEdit button:nth-child(9) .cardEdit-info {
    right: 100% !important;
    left: auto;
    content: "";
    position: absolute;
    right: -2.8rem;
    border-bottom: 20px solid transparent;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}
/***search input***/
input.Search {
  border-radius: 0 0.2em 0.2em 0;
}

.user-dropdownDrop {
  right: calc(20% - 16px);
}

.LayoutDesign {
  left: -100px;
}

.LayoutDesignArrow {
  right: calc(46% - 16px);
}

/**/
/***/
body {
  line-height: 1.2 !important;
  padding: 0 !important;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.mdList {
  display: flex;
  text-align: left !important;
}

.searchInputForm {
  margin-left: auto;
}

.navbar {
  border-radius: 0;
  background: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0 30px 0 30px;
}

.side-nav .menu-item ul {
  padding-left: 5px;
}

.side-nav .menu-item a {
  position: relative;
  display: block;
  /* padding: 10px 0 10px 25px; */
  transition: 0s;
  font-size: 1rem;
  transition: all 0.3s ease;
  border-bottom: 1px solid rgba(204, 204, 204, 0.7);
}

.mainTitle {
  padding: 10px 0 10px 25px;
}

.mainTitle.padNone:hover {
  padding: 10px 0 10px 25px;
}

.mainTitleLink {
  padding: 10px 0 10px 25px;
}

.mainTitleLink:hover {
  padding-left: 32px;
}

.ms-dark-theme .side-nav .menu-item a {
  position: relative;
  display: block;
  padding: 10px 0 10px 25px;
  color: #ffffff;
  transition: 0s;
}

.ribbon6.ribbonLayout {
  top: 23px;
  right: 11px;
}

.ribbon6.ribbonLayout {
  width: 180px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 50px;
  right: -60px;
  z-index: 2;
  overflow: hidden;
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #53dab6, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: #53dab6;
  text-align: center;
}

@media (max-width: 1024px) {
  .ribbon6.ribbonLayout {
    top: 30px;
    right: -70px;
  }
}
@media (min-width: 992px) {
  .wrap .ribbon6.ribbonLayout {
    display: block;
  }
}
.HomeLogout {
  width: 120px;
  height: 45px;
  position: fixed;
  right: 0;
  top: 20rem;
  z-index: 1001;
  background: linear-gradient(to right, #ff9701, #ffcb80);
  transition: 0.15s ease-in-out;
  border-radius: 30px 0 0 30px;
  box-shadow: -4px 0 8px rgba(255, 182, 77, 0.16), -6px 0 8px rgba(0, 0, 0, 0.1);
}

.HomeLogout a {
  border-right: 1px solid #fff;
}

.HomeLogout span {
  color: #fff;
  text-align: center;
}

.positionLogout {
  right: -84.7px;
}

/* .logedOutBtn:before{
  content: "";

} */
/*style toggle btn stylelayout*/
.layoutStyle {
  width: 120px;
  height: 45px;
  position: fixed;
  right: 0;
  top: 11rem;
  z-index: 1001;
  transition: 0.15s ease-in-out;
  border-radius: 30px 0 0 30px;
  overflow: hidden;
  box-shadow: -4px 0 8px rgba(255, 182, 77, 0.16), -6px 0 8px rgba(0, 0, 0, 0.1);
}

.layoutStyle a {
  border-right: 1px solid #fff;
  background: linear-gradient(to right, #ff9701, #ffcb80);
}

.layoutStyle span {
  color: #fff;
  text-align: center;
}

.positionstyle {
  right: -80.7px;
}

/**/
.OpenIcon::after {
  content: "\e849";
  position: absolute;
}

.row.editBorder > div:not(:last-of-type) {
  border-right: 1px solid #ddd;
}

.row.editBorder > div {
  align-self: center;
  justify-self: flex-start;
  padding: 0 0.5rem;
}

.row.editBorder {
  flex: 1 1 auto;
}

@media (max-width: 768px) {
  .row.editBorder > div:not(:last-of-type) {
    border-right: 1px solid transparent;
  }
}
.style-switcher {
  /* -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 15rem;
  right: 0;
  z-index: 10; */
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d4d4e3;
  /* border-right: none; */
  display: flex;
  flex-direction: column;
  /* border-radius: 0 0 0 5px; */
  width: 20rem;
}

.style-switcher .styleInner {
  padding: 15px 20px;
  box-shadow: none;
  background-color: #f6f7fb;
  border-radius: 4px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.24);
}

.style-switcher-toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #73b4ff;
  left: -46px;
  top: 0;
  border: 1px solid #d4d4e3;
  border-right: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}

.style-switcher-toggle .fa {
  font-size: 20px;
  line-height: 43px;
}

.style-switcher.open {
  transform: translateX(0%);
}

/*syncfunc*/
/*Accordinate*/
.customClass .card-header {
  height: 3rem !important;
}

.customClass .card-header::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f067";
  width: 6px;
  top: 20%;
  height: 100%;
  right: 40px;
  color: #4f8dca;
  transition: all 0.3s;
}

.panel-open .customClass .card-header::after {
  position: absolute;
  font-family: "FontAwesome";
  content: "\f067";
  width: 6px;
  top: 20%;
  height: 100%;
  right: 40px;
  color: #fff;
  transform: rotate(45deg);
}

/*home*/
/*end bg colors*/
.team-section .cardEdit-info {
  left: 100%;
}

@media (max-width: 991px) {
  .team-section .cardEdit-info {
    left: 0%;
  }
  .team-section .cardEdit-info::before {
    display: none;
  }
}
.team-section .cardEdit-info::before {
  content: "";
  position: absolute;
  left: -2.8rem;
  top: -0.2rem;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem 0.5rem 0;
}

.folder-structure li::before {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  content: "";
  /* Position */
  left: 2rem;
  position: absolute;
  top: 0;
  transform: translate(calc(-1 * var(--folder-structure-item-margin-left)), 0);
  /* Size */
  height: 100%;
}

.folder-structure li::after {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  content: "";
  /* Position */
  left: 1rem;
  position: absolute;
  top: 20px;
  transform: translate(-100%, 0);
  /* Size */
  width: 1rem;
}

.mainTitleLink {
  position: relative;
}

.mainTitleLink:before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 17.5px;
  right: 92%;
  width: 6px;
  height: 6px;
  background: rgba(0, 0, 0, 0.6);
}

.mainTitleLink.router-link-active:before {
  background: #4099ff;
}

img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  height: auto;
}

.btnShiftAdd {
  z-index: 5000;
  width: 130px !important;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #00c9b7 !important;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top: 40%;
  left: 0;
  color: #fff !important;
  border: none;
  -webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
          clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
}

.styleIcon {
  left: 84%;
  position: absolute;
  top: 40%;
}

.styleIconTwo {
  left: 100%;
  position: absolute;
  top: 40%;
}/*# sourceMappingURL=mainltr.css.map */