<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Regression Suite" parallel="none">

    <parameter name="executionType" value="localHeadless"/>

    <listeners>
        <listener class-name="com.ferpfirstcode.customlisteners.RetryTransformer"/>
        <listener class-name="com.ferpfirstcode.customlisteners.TestNGListeners"/>
    </listeners>

    <test name="All Automated Tests">
        <packages>
            <package name="com.ferpfirstcode.tests.*"/>
        </packages>
    </test>

</suite>