<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Full Test Suite" parallel="none">


    <parameter name="executionType" value="localHeadless"/>

    <listeners>
        <listener class-name="com.ferpfirstcode.customlisteners.RetryTransformer"/>
        <listener class-name="com.ferpfirstcode.customlisteners.TestNGListeners"/>
    </listeners>

    <!-- Login Tests -->
    <test name="Login Tests">
        <classes>
            <class name="com.ferpfirstcode.tests.LoginTest"/>
        </classes>
    </test>

    <!-- Order Tests -->
    <test name="Order Tests">
        <classes>
            <class name="com.ferpfirstcode.tests.OrderTest"/>
        </classes>
    </test>

    <!-- Payment Tests -->
    <test name="Payment Tests">
        <classes>
            <class name="com.ferpfirstcode.tests.PaymentTest"/>
        </classes>
    </test>

    <!-- Home Tests -->
    <test name="Home Tests">
        <classes>
            <class name="com.ferpfirstcode.tests.HomePageTest"/>
        </classes>
    </test>

    <!-- POS Select Tests -->
    <test name="POS Select Tests">
        <classes>
            <class name="com.ferpfirstcode.tests.PosSelectTest"/>
        </classes>
    </test>

</suite>

