stages:
  - test

windows_edge_test:
  stage: test
  script:
    - echo "تشغيل اختبارات Maven على Windows باستخدام Edge"
    - mvn clean test -DbrowserType="Edge"
  artifacts:
    when: always
    paths:
      - test-output/reports/**/*.html