image: maven:3.9.4-eclipse-temurin-17

stages:
  - test

variables:
  DISPLAY: ":99"

before_script:
  - apt-get update && apt-get install -y wget unzip curl xvfb google-chrome-stable
  - chmod +x setup-chrome.sh       # جعل السكريبت قابل للتنفيذ
  - ./setup-chrome.sh              # تشغيل السكريبت

test:
  stage: test
  script:
    - echo "تشغيل اختبارات Maven على Chrome"
    - mvn clean test -DbrowserType="Chrome" -Dmaven.test.failure.ignore=true

  artifacts:
    when: always
    paths:
      - test-output/reports/**/*.html
