image: maven:3.9.4-eclipse-temurin-17

stages:
  - test

variables:
  DISPLAY: ":99"

before_script:
  # تحديث الحزم الأساسية
  - apt-get update && apt-get install -y wget unzip curl xvfb

  # تثبيت Google Chrome إذا لم يكن مثبتاً
  - apt-get install -y google-chrome-stable

  # معرفة نسخة Chrome الحالية
  - CHROME_VERSION=$(google-chrome --version | grep -oP '\d+\.\d+')
  - echo "Chrome version: $CHROME_VERSION"

  # تحميل ChromeDriver المطابق
  - LATEST_DRIVER=$(curl -s "https://chromedriver.storage.googleapis.com/LATEST_RELEASE_$CHROME_VERSION")
  - echo "ChromeDriver version: $LATEST_DRIVER"
  - wget -q "https://chromedriver.storage.googleapis.com/$LATEST_DRIVER/chromedriver_linux64.zip" -O chromedriver.zip
  - unzip chromedriver.zip -d /usr/local/bin/
  - chmod +x /usr/local/bin/chromedriver

test:
  stage: test
  script:
    - echo "تشغيل اختبارات Maven على Chrome"
    - mvn clean test -DbrowserType="Chrome" -Dmaven.test.failure.ignore=true

  artifacts:
    when: always
    paths:
      - test-output/reports/**/*.html
