stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B"

maven_test:
  stage: test
  image: maven:3.9.0-eclipse-temurin-17
  script:
    - mvn clean test
  artifacts:
    when: always
    paths:
      - test-output/reports/**/*.html
      - test-output/reports/**/*.xml
