stages:
  - test

variables:
  MAVEN_CLI_OPTS: "-B"

linux_chrome_test:
  stage: test
  image: maven:3.9.0-eclipse-temurin-17
  script:
    - echo "تشغيل اختبارات Maven على Linux باستخدام Chrome"
    - mvn clean test -DbrowserType="Edge" -Dmaven.test.failure.ignore=true
  artifacts:
    when: always
    paths:
      - test-output/reports/**/*.html