
/* Body Content */
.body-content {
    position: relative;
    background: #f0f0fa;
    // -webkit-transition: padding 0.6s;
    // transition: padding 0.6s;
    min-height: 100vh;
  }
  /*switcher colors*/
  .menu-styler .style-block, .menu-styler .style-block-prebuild {
    position: fixed;
    top: 140px;
    right: -400px;
    width: 400px;
    border-radius: 4px 0 0 4px;
    background: #fff;
    z-index: 1030;
    transition: 0.15s ease-in-out;
    padding: 25px 20px 20px;
}
.style-switcher {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transform: all 0.3s ease;
  transition: all 0.3s ease;
  position: fixed;
  top: 20%;
  right: 0;
  z-index: 10;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #d4d4e3;
  border-right: none;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0 5px;
}
.style-switcher-toggle {
  position: absolute;
  height: 45px;
  width: 45px;
  background-color: #fff;
  left: -46px;
  top: 0;
  border: 1px solid #d4d4e3;
  border-right: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}
.style-switcher-toggle .fa {
  font-size: 20px;
  line-height: 43px;
}
.style-switcher.open {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
} 
.overLaySwitcher.open {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/**/
  .horizontal-layout .body-content {
    padding-left: 0;
  }
  // .ms-has-quickbar .body-content {
  //   padding-right: 60px;
  // }
  
  .ms-has-quickbar .body-content {
    padding-right: 0px;
  }
  
  .ms-aside-open .body-content {
    padding-left: 255px;
  }
  
  .ms-content-wrapper {
    padding: 10px;
  }
  
  .has-chevron {
    position: relative;
  }
  
  .has-chevron::after {
    content: "\e313";
    font-size: 1.5rem;
    font-family: "Material Icons";
    font-weight: 700;
    font-style: normal;
    position: absolute;
    top: 16px;
    right: 1rem;
    transition: 0.3s;
  }
  
  .ms-d-block-lg {
    display: block;
  }
  
  .ms-d-block-sm {
    display: none;
  }
  
  .ms-inline {
    display: inline-block;
    width: auto;
    height: 100%;
  }
  
  .ms-img-round {
    border-radius: 50%;
  }
  
  .ms-has-notification {
    position: relative;
  }
  
  .ms-has-notification::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -3px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    background: #ff0018;
  }
  
  .ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
  }
  
  .ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    height: 15px;
    bottom: 0px;
    position: absolute;
  }
  
  .ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
    width: 6px;
    right: 0;
    position: absolute;
  }
  
  .ps--active-x>.ps__rail-x,
  .ps--active-y>.ps__rail-y {
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .ps:hover>.ps__rail-x,
  .ps:hover>.ps__rail-y,
  .ps--focus>.ps__rail-x,
  .ps--focus>.ps__rail-y,
  .ps--scrolling-x>.ps__rail-x,
  .ps--scrolling-y>.ps__rail-y {
    opacity: 0.6;
  }
  
  .ps .ps__rail-x:hover,
  .ps .ps__rail-y:hover,
  .ps .ps__rail-x:focus,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-x.ps--clicking,
  .ps .ps__rail-y.ps--clicking {
    opacity: 0.9;
  }
  
  .ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, height 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, height 0.2s ease-in-out;
    height: 6px;
    bottom: 2px;
    position: absolute;
  }
  
  .ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s linear, width 0.2s ease-in-out;
    width: 6px;
    right: 0;
    position: absolute;
  }
  
  .ps__rail-x:hover>.ps__thumb-x,
  .ps__rail-x:focus>.ps__thumb-x,
  .ps__rail-x.ps--clicking .ps__thumb-x {
    background-color: #999;
    height: 11px;
  }
  
  .ps__rail-y:hover>.ps__thumb-y,
  .ps__rail-y:focus>.ps__thumb-y,
  .ps__rail-y.ps--clicking .ps__thumb-y {
    background-color: #999;
    width: 7px;
  }
  
  @supports (-ms-overflow-style: none) {
    .ps {
      overflow: auto !important;
    }
  }
  
  @media screen and (-ms-high-contrast: active),
  (-ms-high-contrast: none) {
    .ps {
      overflow: auto !important;
    }
  }
  /****************edit layout *******************/

.ms-main-aside {
  text-align: left;
  width: 100%;
}

ul {
  text-align: left;
}

.side-nav .logo-sn a {
  padding: 0 !important;
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.3);
}

// .active,
// .success {
//   color: #ff0018 !important;
// }

.danger {
  color: #000000de !important;
}

.activeLinkOrder span {
  color: #ff0018 !important;
  i{
    color: #ff0018 !important;
  }

}

@media (max-width: 1024px){
  .ms-navbar .dropShow.ms-nav-list {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 990;
    text-align: right;
    padding: 0 1.25rem;
    opacity: 1;
    visibility: visible;
    background-color: #dfdfdf;
}
}

/****************end edit layout **************/