//  .e-grid .e-view::before {
//     content: '\f06e';
// }

.e-toolbar .e-btn-icon, 
.e-toolbar .e-tbar-btn-text { 
  color: black; 
} 
.e-toolbar .e-view::before, 
.e-grid-menu .e-view::before { 
  content: '\e345'; 
  color:#12b252;
} 
.e-toolbar .e-add::before, 
.e-grid-menu .e-add::before { 
  content: "\e7f9"; 
  color:rgb(3, 83, 164);
} 
.e-toolbar .e-edit::before, 
.e-grid-menu .e-edit::before { 
  content: "\e81e"; 
  color: rgb(255, 183, 3);
} 
 
.e-delete::before { 
  content: "\e84e"; 
  font-family: "e-icons";
  color:#ec1839;
} 
 
.e-grid .e-cancel::before, 
.e-cancel::before { 
  content: "\e825"; 
} 
 
.e-save::before, 
.e-grid-menu .e-save::before { 
  content: "\e98e"; 
} 
 
.e-update::before { 
  content: "\e735"; 
} 
.e-toolbar-item.e-template { 
  right: 0px; 
  position: absolute; 
  width: 25px; 
} 
 
.e-search-icon::before, 
.e-grid-menu .e-search-icon::before { 
  content: "\e993"; 
} 
 
.e-cancel-icon::before { 
  content: "\e825"; 
} 
 
.e-print::before, 
.e-grid-menu .e-print::before { 
  content: "\e813"; 
  color: #4f5bd5;
} 
 
.e-add::before, 
.e-grid-menu .e-add::before { 
  content: "\e7f9"; 
} 
.e-sync::before, 
.e-grid-menu .e-sync::before { 
  content: "\e308"; 
} 
 
.e-pdfexport::before, 
.e-grid-menu .e-pdfexport::before { 
  content: "\f1c1" !important; 
  color: #fe0000;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  
} 

.e-word::before, 
.e-grid-menu .e-word::before { 
  content: "\f1c2"; 
  color: #3d9ae8;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
} 

.e-csvexportt::before, 
.e-grid-menu .e-csvexportt::before { 
  content: "e701" !important ;
  
//   font-family: "Font Awesome 5 Free";
//   font-weight: 600;
} 
.e-csvexport::before, 
.e-grid-menu .e-csvexport::before { 
  content: "\e241"; 
  color: #146c43;
} 
.e-excelexport::before, 
.e-grid-menu .e-excelexport::before { 
  content: "\f1c3" !important; 
  color: #fa7e1e;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
} 
.e-toolbar .e-tbar-btn .e-icons.e-btn-icon {
    font-size: 25px !important;
}
.e-toolbar .e-tbar-btn:focus, .e-toolbar .e-tbar-btn:hover {
     transform: scale(1.1);
     border:1px solid transparent !important; 
}
.e-toolbar .e-tbar-btn-text, .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  display: none !important;
  padding: 0 2px 0 2px;
}
.e-pager .e-currentitem, .e-pager .e-currentitem:hover {
  background: #4f8dca !important;
}
.e-input-group:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::before, .e-input-group.e-control-wrapper:not(.e-float-icon-left):not(.e-float-input)::after, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::before, .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-float-input) .e-input-in-wrap::after {
  background: #4f8dca !important;
}
.e-dropdownbase .e-list-item.e-active, .e-dropdownbase .e-list-item.e-active.e-hover {
  color: #4f8dca !important;
}
.e-checkbox-wrapper .e-frame.e-check, .e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: #4f8dca !important; 
}
.e-btn.e-flat.e-primary:hover, .e-css.e-btn.e-flat.e-primary:hover {
  color: #4f8dca !important;
}
.e-btn.e-flat.e-primary, .e-css.e-btn.e-flat.e-primary{
  color: #4f8dca !important;
}
.e-calendar .e-content td.e-focused-date.e-today span.e-day, .e-bigger.e-small .e-calendar .e-content td.e-focused-date.e-today span.e-day {
  border: 1px solid #4f8dca !important ;
  color: #4f8dca !important;
}
.e-date-wrapper span.e-input-group-icon.e-date-icon.e-icons.e-active {
  color: #4f8dca !important;
}
.e-tbtn-align  :has(button.e-overlay) {
  cursor: not-allowed !important;
  }