/* Settings Panel */
.ms-settings-toggle {
    position: fixed;
    bottom: 0;
    right: 50%;
    z-index: 4;
    width: 90px;
    height: 40px;
    margin-right: -45px;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  body:not(.ms-settings-open) .ms-settings-toggle:hover {
    height: 50px;
  }
  
  .ms-settings-toggle i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 16px rgba(0, 0, 0, 0.1);
  }
  
  .ms-settings-panel {
    position: fixed;
    bottom: -200px;
    left: 0;
    width: 100%;
    height: 200px;
    padding: 1.5rem;
    background-color: #fff;
    z-index: 1040;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .ms-dark-theme .ms-settings-panel,
  .ms-dark-theme .ms-settings-toggle i {
    background-color: #252851;
  }
  
  .ms-settings-open .ms-settings-panel {
    bottom: 0;
  }
  
  .ms-settings-open .ms-settings-toggle {
    bottom: 200px;
  }
  
  .ms-settings-links {
    display: flex;
    width: 100px;
  }
  
  .ms-settings-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  .ms-settings-links li a i {
    font-size: 22px;
  }