:root {
  --folder-structure-item-height: 1rem;
  --folder-structure-item-margin-left: 2rem;
  --folder-structure-item-padding-top: 1rem;
}
  *,
  *::after,
  *::before{
      margin :0;
      padding: 0;
      box-sizing: border-box;
  }

h1,
h2,
h3,
h4,
h5,
h6 {
 
  // font-family: "ultimatefont", sans-serif;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #fafafa !important;
}

#StimulsoftId{
  display: flex;
  justify-content: center;
  align-items: center;
}
label {
  // font-family: Arial, Helvetica, sans-serif;
  //font-family: "ultimatefont", sans-serif !important;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  // color: #808080;
  display: inline-block;
  margin-bottom: 0.5rem !important;
  /* margin-left: .5rem !important; */
}
.disabled, .disabled:focus {
  background-color: darkgray !important;
  border: darkgray 1px solid !important;
  color: gray !important;
  outline-color: #fff !important;
  box-shadow: none !important;
}
.table td, .table th {
  padding: .5rem;
}
a{
  color: #878793;
}

a:hover{
text-decoration: none;
color: #4f8dca;
}
code {
  padding: 5px;
  font-weight: 300;
  font-size: 0.8125rem;
  border-radius: 4px;
  
}
.editBorder label{
  font-size: 1rem !important;
}
.table .thead-dark th {
  color: #fff;
  background-color: var(--main-bg-color) !important;
  border-color: var(--main-bg-color) !important;
}
.flexStart{
display: flex;
justify-content: flex-start;
align-items: center;
p{
  margin: 0;
  padding: .5rem;
}
}
.e-disabled {
  opacity: 5 !important;
}

.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}
ul {
  list-style: none;
  padding: 0;
}

.ms-scrollable,
.ms-aside-scrollable {
  position: relative;
}
.material-icons {
  vertical-align: sub;
  font-weight: 500;
  font-size: 14px;
}

.text-disabled {
  color: #878793;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.section-title {
  margin: 0 0 1.5rem 0;
  font-size: 14px;
}

.w-5 {
  width: 5%;
}
.validationError {
  background-color: #f37171 !important
}
.dropdown-toggle::after{
  display: none;
}
/**Tooltip**/
.tooltipContainer{
  position: relative;
      &:hover{
        .tooltipContainer_content ,.tooltipContainer_arrow {
        opacity: 1;
        pointer-events: initial;
      }
  }
   .tooltipContainer_arrow{
       /* Invisible by default */
       opacity: 0;

       /* To prevent accidental interactions with other elements  */
       pointer-events: none;

       /* Border */
       border: 8px solid transparent;
       border-bottom-color: #00439e;

       /* Position */
       top: 46%;
       left: 50%;
       position: absolute;
       transform: translate(-50%, 8px);

       /* Zero size */
       height: 0;
       width: 0;

       /* Displayed on top of other element */
       z-index: 10;
   }
   .tooltipContainer_content{
     padding: .2rem .7rem;
     border-radius: 5px;
     text-align: center;
       /* Invisible by default */
       opacity: 0;

       /* To prevent accidental interactions with other elements  */
       pointer-events: none;

       /* Background color, must be the same as the border color of arrow */
       background-color: #00439e;
       border-radius: 2px;

       /* Position */
       top: 120%;
       left: 50%;
       position: absolute;
       transform: translate(-50%, -8px);

       /* Displayed on top of other element */
       z-index: 10;
       color: #fff;
   }
}

.folder-structure ul {
  /* Reset */
  list-style-type: none;
  margin: 0;
}

.folder-structure li {
  // padding: var(--folder-structure-item-padding-top) 0rem 0rem 0rem;
  position: relative;
}



/* Remove the border from the last item */
.folder-structure li:last-child::before {
  height: calc(
      var(--folder-structure-item-padding-top) + var(--folder-structure-item-height) / 2
  );
}

.editingButtonsUl{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  li{
    padding: 1rem .1rem !important;
    button{
      margin: 0 !important;
    }
  }

}
.fa-keyboard{
  color: #fff;
  font-size: 1.2rem;
}
.bs-rating-star{
 font-size: 20px;
&.active{
  color: #fbc02d !important;
}
}
.mat-list-item-content {
  padding: 8px 0px !important;
}
.remove .mat-icon-sm{
  font-size: 23px !important;
  }
  .secondary-font a{
    color: #000000de;
    font-family: 'lora';
  }
  .primary-color {
    color: #c62828 !important;
}
.old-price {
  text-decoration: line-through;
}
.mat-list-text{
  display: flex;
  flex-direction: row !important;
}
.fw-500 span{
  font-weight: 500 !important;
}
span.mat-button-wrapper{
  font-family: 'Montserrat' !important;
  font-size: 14px;
  font-weight: 500;
}
.mat-expansion-panel-body {
  padding: 24px 16px !important;
}
.mat-radio-label-content {
  font-size: 1rem !important;
  // font-family: Montserrat !important;
}
.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  flex-wrap: wrap;
}

.example-margin {
  margin: 0 10px;
}
.widthEdit .mat-button-toggle-button {
  width: fit-content !important;
}