.alert.alert-success {
    background-color: #e0ffef;
    color: #07be6e;
    border-color: #07be6e;
  }
  
  .alert.alert-info {
    background-color: #e0f2ff;
    color: #4f8dca;
    border-color: #4f8dca;
  }
  
  .alert.alert-warning {
    background-color: #fef6e3;
    color: #fda600;
    border-color: #fda600;
  }
  
  .alert.alert-danger {
    background-color: #ffebea;
    color: #f9423c;
  }
  
  .alert.alert-brand {
    background-color: #eaedff;
    color: #374eae;
    border-color: #374eae;
  }
  
  .alert.alert-outline {
    background: transparent;
  }
  
  .ms-dark-theme .alert.alert-outline {
    background: #ffffff;
  }
  
  .alert.alert-solid {
    color: #fff;
  }
  
  .alert.alert-solid.alert-success {
    background-color: #07be6e;
  }
  
  .alert.alert-solid.alert-info {
    background-color: #4f8dca;
  }
  
  .alert.alert-solid.alert-warning {
    background-color: #fda600;
  }
  
  .alert.alert-solid.alert-danger {
    background-color: #f9423c;
  }
  
  .alert.alert-solid.alert-brand {
    background-color: #374eae;
  }
  
  .alert i {
    margin-right: 15px;
  }
  