
.breadcrumb {
    align-items: center;
    border-radius: 0;
    background-color: #f0f0fa;
    a{
      color: gray !important;
    }
  }
  
  .breadcrumb.breadcrumb-arrow-sep .breadcrumb-item+.breadcrumb-item::before {
    content: "\e315";
    font-family: "Material Icons";
    font-weight: normal;
    font-style: normal;
  }
  
  .breadcrumb-dark {
    background-color: #4f8dca ;
  }
  .breadcrumb-item.active{
    color: #4f8dca;
  }
  .breadcrumb-item a.active{
    color: #4f8dca !important;
  }
  .breadcrumb-dark a,
  .breadcrumb-dark .breadcrumb-item+.breadcrumb-item::before,
  .breadcrumb-dark .breadcrumb-item.active {
    color: #fff;
  }
  
  .breadcrumb.breadcrumb-arrow {
    overflow: hidden;
  }
  
  .breadcrumb.breadcrumb-arrow li {
    position: relative;
    background: #fff;
    padding: 10px 40px;
  }
  
  .breadcrumb.breadcrumb-arrow li::after {
    content: "";
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 2;
    height: 100%;
    border-top: 20px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 20px solid transparent;
  }
  
  .breadcrumb.breadcrumb-arrow li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-top: 20px solid transparent;
    border-left: 20px solid #f0f0fa;
    border-bottom: 20px solid transparent;
  }
  
  .breadcrumb.breadcrumb-arrow.has-bg li:not(.active),
  .breadcrumb.breadcrumb-arrow.has-bg-active li {
    background-color: #4f8dca;
  }
  
  .breadcrumb.breadcrumb-arrow.has-bg li:not(.active) a,
  .breadcrumb.breadcrumb-arrow.has-bg-active li a,
  .breadcrumb.breadcrumb-arrow.has-bg-active .breadcrumb-item.active {
    color: #fff;
  }
  
  .breadcrumb.breadcrumb-arrow.has-bg li:not(.active)::after,
  .breadcrumb.breadcrumb-arrow.has-bg-active li::after {
    border-left-color: #4f8dca;
  }
  
  .breadcrumb.breadcrumb-arrow.has-gap li {
    margin-right: 10px;
  }
  
  .breadcrumb.breadcrumb-arrow:not(.has-gap) li:not(:first-child)::after,
  .breadcrumb.breadcrumb-arrow:not(.has-gap) li:not(:first-child)::before {
    display: none;
  }
  
  .breadcrumb.breadcrumb-arrow:not(.has-gap) li:last-child::after {
    display: block;
  }
  
  .breadcrumb.breadcrumb-arrow.first-rounded li:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .breadcrumb.breadcrumb-arrow.first-rounded li:first-child::before {
    display: none;
  }
  
  .breadcrumb.has-shadow li {
    -webkit-box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 16px rgba(0, 0, 0, 0.2);
  }
  .breadcrumb-item a:hover{
    cursor: pointer;
  }