
.ms-crop-preview {
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .ms-cropper-container {
    margin-bottom: 2rem;
  }
  
  .ms-crop-preview.ms-crop-preview-lg {
    max-width: 100%;
    height: 300px;
  }
  
  .ms-crop-preview.ms-crop-preview-md {
    max-width: 70%;
    height: 200px;
  }
  
  .ms-crop-preview.ms-crop-preview-sm {
    max-width: 40%;
    height: 150px;
  }
  
  .ms-cropper-controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-cropper-controls button {
    margin-right: 1rem;
    margin-bottom: 1rem;
  }