.ui-sortable:not(.ui-sortable-disabled):hover,
.ms-draggable:hover {
  cursor: grab;
}

.ui-sortable:not(.ui-sortable-disabled):active,
.ms-draggable:active {
  cursor: grabbing;
}

.ui-state-highlight {
  margin-bottom: 1rem;
}

.ms-quickbar-container .ui-state-highlight {
  margin: 0 1rem 1rem 1rem;
  border-radius: 5px;
}

.ms-quick-bar-item.ui-draggable-dragging {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

.ms-quick-bar-item.ui-draggable-dragging,
.ms-list-item.ui-draggable-dragging {
  z-index: 999;
  -webkit-box-shadow: 0 3px 24px rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 24px rgba(0, 0, 0, 0.4);
}

.ui-sortable-placeholder {
  background: #e4e3e8;
}

.ms-sortable-list {
  min-height: 100px;
}
