@import "./accordions";
@import "./alert";
@import "./badge";
@import "./breadcrumb";
@import "./buttons";
@import "./card";
@import "./chat";
@import "./croppable";
@import "./draggables";
@import "./dropdown";
@import "./form";
@import "./icon";
@import "./keyboard";
@import "./list";
@import "./map";
@import "./modal";
@import "./navbar";
@import "./pagination";
@import "./panel-Module";
@import "./popup";
@import "./progress";
@import "./rating";
@import "./ribbon";
@import "./sliders";
@import "./spinner";
@import "./tables";
@import "./tabs";
@import "./toDoList";
@import "./tooltip";
@import "./watch";
@import "./syncfusion";