
/* Lists */
.ms-list {
    margin-bottom: 0;
  }
  
  .ms-list .ms-list-item {
    position: relative;
    padding: 0.75rem;
    margin-bottom: 1rem;
  }
  
  .ms-list-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ms-list .ms-list-item:last-child {
    margin-bottom: 0;
  }
  
  .ms-task-block li.ms-to-do-task:first-child {
    padding-top: 0;
  }
  
  .ms-list .ms-list-item.bordered {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
  }
  
  .ms-list-item p {
    margin-bottom: 0;
    font-size: 12px;
  }
  
  .ms-list-item.media i {
    margin-right: 25px;
  }
  
  .ms-list-item.media img {
    width: 40px;
    margin-right: 1rem;
  }
  