.modal-content {
    border: 0;
    -webkit-box-shadow: 0 1px 24px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 24px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 24px rgba(0, 0, 0, 0.1);
  }
  
  .modal-open .modal {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  
  .close,
  .close:focus {
    outline: none;
    opacity: 1;
    text-shadow: none;
  }
  
  .close span {
    text-shadow: none;
  }
  
  .modal-header.bg-secondary .close span {
    color: #fff;
  }
  
  .modal-title.has-icon i {
    margin-right: 10px;
  }
  
  .modal-title.has-icon.ms-icon-round i {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    border-radius: 50%;
    padding-top: 5px;
    margin-right: 15px;
    display: inline-block;
    text-align: center;
  }
  
  .modal-notice {
    flex: 1 1 auto;
  }
  
  .modal-notice a {
    color: #878793;
  }
  
  .modal-body p:last-child {
    margin: 0;
  }
  
  .modal-min .modal-body {
    padding: 3rem 2rem;
  }
  
  .modal-min .modal-body .close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  
  .modal-min .modal-body i::before {
    font-size: 60px;
  }
  
  .modal-min .ms-form-group.has-icon i,
  .modal-max .ms-form-group.has-icon i {
    top: 10px;
    color: #878793;
    font-size: 18px;
  }
  
  .modal-max .ms-list .ms-list-item {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .modal-max .ms-list-item i::before {
    font-size: 30px;
  }
  /****Amount Model*****/
.modal.show .modal-dialog.AmountModel {
  transform: translate(0%, -10%) !important;
}
.modal-content.modal-contentWidth {
  width: 80% !important;
}
/**Price modal**/

@media (min-width: 576px){
.modalPrice .modal-dialog {
    max-width: 500px !important;
}
}
