.progress {
    margin-bottom: 1.5rem;
    border-radius: 3rem;
    height: 0.9rem;
  }
  
  .progress.progress-tiny {
    height: 0.2rem;
  }
  
  .progress-status {
    float: right;
  }
  
  .progress-label,
  .progress-status {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 10px;
  }
  
  .progress-rounded {
    position: relative;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 16px solid #f1f1f1;
    margin-bottom: 2rem;
  }
  
  .progress-rounded * {
    transition: all 0.3s ease;
  }
  
  .progress-rounded .progress-value {
    font-size: 1rem;
    font-weight: 600;
    color: #34334a;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  
  .progress-rounded svg {
    height: 130px;
    width: 130px;
    position: absolute;
    top: -16px;
    left: -16px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
  }
  .e-grid.e-responsive .e-rowcell, .e-grid.e-responsive .e-headercelldiv{
     margin: -7px !important;
     white-space: unset !important;
  }
  .e-pager .e-currentitem, .e-pager .e-currentitem:hover a{
    color: #fff !important;
  }
  .progress-rounded svg circle {
    stroke-dasharray: 358.141563 358.141563;
    stroke-dashoffset: 360;
    stroke: #ff0018;
    stroke-linecap: square;
    -webkit-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    transition: all 0.6s ease;
  }
  
  .progress-rounded.progress-round-tiny {
    width: 120px;
    height: 120px;
    border-width: 4px;
  }
  
  .progress-rounded.progress-round-tiny svg {
    top: -9px;
    left: -9px;
  }
  
  .progress-rounded svg circle.bg-primary {
    stroke: #ff0018;
  }
  
  .progress-rounded svg circle.bg-secondary {
    stroke: #445cc8;
  }
  
  .progress-rounded svg circle.bg-success {
    stroke: #5cb85c;
  }
  
  .progress-rounded svg circle.bg-info {
    stroke: #5bc0de;
  }
  
  .progress-rounded svg circle.bg-warning {
    stroke: #f0ad4e;
  }
  
  .progress-rounded svg circle.bg-danger {
    stroke: #d9534f;
  }
  
  .progress-rounded svg circle.bg-dark {
    stroke: #34334a;
  }
  
  .progress-rounded svg circle.bg-light {
    stroke: #878793;
  }
  