/* Rating */
.ms-star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  
  .ms-star-rating .ms-rating-item {
    position: relative;
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 4px 0;
    margin-right: 10px;
    border: 1px solid #878793;
    color: #878793;
    border-radius: 5px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .ms-star-rating .item-1 {
    margin-right: -11px;
  }
  
  .ms-star-rating .item-2 {
    margin-left: -7px;
  }
  
  .ms-star-rating .ms-rating-item i {
    font-size: 16px;
  }
  
  .ms-star-rating.rating-circle .ms-rating-item {
    border-radius: 50%;
  }
  
  .ms-star-rating.rating-fill .ms-rating-item.rated,
  .ms-star-rating.rating-fill .ms-rating-item:hover,
  .ms-star-rating.rating-fill .ms-rating-item:hover~.ms-rating-item {
    background-color: #ff0018;
    border-color: #ff0018;
    color: #fff;
  }
  
  .ms-star-rating.rating-bordered .ms-rating-item.rated,
  .ms-star-rating.rating-bordered .ms-rating-item:hover,
  .ms-star-rating.rating-bordered .ms-rating-item:hover~.ms-rating-item {
    border: 1px solid #ff0018;
    color: #ff0018;
  }
  
  .ms-star-rating.rating-fill.heart-rating .ms-rating-item.rated,
  .ms-star-rating.rating-fill.heart-rating .ms-rating-item:hover,
  .ms-star-rating.rating-fill.heart-rating .ms-rating-item:hover~.ms-rating-item {
    background-color: #ff0018;
    border-color: #ff0018;
    color: #fff;
  }
  
  .ms-star-rating.rating-bordered.heart-rating .ms-rating-item.rated,
  .ms-star-rating.rating-bordered.heart-rating .ms-rating-item:hover,
  .ms-star-rating.rating-bordered.heart-rating .ms-rating-item:hover~.ms-rating-item {
    border: 1px solid #ff0018;
    color: #ff0018;
  }
  
  
  
  .ms-star-rating.misc-number .ms-rating-item {
    margin: 0;
    border-radius: 0;
    padding: 3px 0;
    width: 40px;
    border-color: #ff0018;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    border-right: 0;
  }
  
  .ms-star-rating.misc-number .ms-rating-item i {
    font-size: 14px;
    font-style: normal;
  }
  
  .ms-star-rating.misc-number .ms-rating-item.rated,
  .ms-star-rating.misc-number .ms-rating-item:hover,
  .ms-star-rating.misc-number .ms-rating-item:hover~.ms-rating-item {
    background: #ff0018;
    color: #fff;
  }
  
  .ms-star-rating.misc-number .ms-rating-item:first-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-right: 1px solid #ff0018;
  }
  
  .ms-star-rating.misc-number .ms-rating-item:last-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-left: 1px solid #ff0018;
  }
  
  .ms-star-rating.letter-rating .ms-rating-item {
    padding: 2px 0;
  }
  
  .ms-star-rating.letter-rating .ms-rating-item i {
    text-transform: uppercase;
    font-style: normal;
  }
  
  .ms-star-rating.misc-checks .ms-rating-item:not(.rated)::before {
    content: "\e5cd";
    font-family: "Material Icons";
    font-weight: 700;
    font-style: normal;
  }
  
  .ms-star-rating.misc-checks .ms-rating-item.rated::before,
  .ms-star-rating.misc-checks .ms-rating-item:hover::before,
  .ms-star-rating.misc-checks .ms-rating-item:hover~.ms-rating-item::before {
    content: "\e5ca";
    font-family: "Material Icons";
    font-weight: 700;
    font-style: normal;
  }
  
  .ms-star-rating.misc-blocks .ms-rating-item,
  .ms-star-rating.misc-square .ms-rating-item {
    width: 50px;
    height: 3px;
    border-radius: 0;
    border: 0;
    background-color: #ff0018;
    opacity: 0.3;
  }
  
  .ms-star-rating.misc-square .ms-rating-item {
    width: 20px;
    height: 30px;
  }
  
  .ms-star-rating.misc-blocks .ms-rating-item.rated,
  .ms-star-rating.misc-blocks .ms-rating-item:hover,
  .ms-star-rating.misc-blocks .ms-rating-item:hover~.ms-rating-item,
  .ms-star-rating.misc-square .ms-rating-item.rated,
  .ms-star-rating.misc-square .ms-rating-item:hover,
  .ms-star-rating.misc-square .ms-rating-item:hover~.ms-rating-item {
    opacity: 1;
  }
  