/* Basic Tables */
.thead-primary thead {
    background-color: #ff0018;
  }
  
  .thead-secondary thead {
    background-color: #445cc8;
  }
  
  .thead-success thead {
    background-color: #5cb85c;
  }
  
  .thead-info thead {
    background-color: #5bc0de;
  }
  
  .thead-warning thead {
    background-color: #f0ad4e;
  }
  
  .thead-danger thead {
    background-color: #d9534f;
  }
  
  .thead-dark thead {
    background-color: #34334a;
  }
  
  .thead-light thead {
    background-color: rgb(244, 244, 244);
  }
  
  table img {
    max-width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .ms-table-f-w {
    min-width: 185px;
  }
  
  table img+span {
    margin-left: 15px;
    font-weight: 400;
    color: #212529;
  }
  
  table i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .table thead tr th {
    border-top: 0;
  }
  
  .thead-dark thead th,
  .thead-primary thead th,
  .thead-secondary thead th,
  .thead-success thead th,
  .thead-info thead th,
  .thead-warning thead th,
  .thead-danger thead th {
    color: #fff;
  }
  
  .table thead th {
    border-bottom: 1px solid #dee2e6;
  }
  .kitchenIncoming{
    .table thead tr th{
     text-align: center;
     font-size: .9rem;
     width: 90px;
    }
    .table td, .table th {
      // padding: .5rem;

    }
    .table thead th {
      vertical-align: middle !important;
    }
  }
 
  /* Data tables */
  .dataTables_info {
    color: #878793;
  }
  
  .dataTables_length label select {
    margin-left: 10px;
  }
  
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc_disabled:before {
    content: "\e5c7";
    font-family: "Material Icons";
    font-weight: 700;
    font-style: normal;
  }
  
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:after {
    content: "\e5c5";
    font-family: "Material Icons";
    font-weight: 700;
    font-style: normal;
    right: 1em;
    bottom: 0.4em;
  }
  
  .dataTables_filter label input {
    border-radius: 25px;
    padding: 11px 14px;
  }
  table.returnOrderTable{
    text-align: center;
    tr{
      th ,td{
       padding: .25rem ;
      }
    }
  }
  .BottomTableReturnOrder{
    thead{
      tr{
        background-color: #cce0f6;
         th{
          border: 1px solid #ccc !important;
        }
      }
     
    }
    tr{
      td {
        input{
          width: 5rem;
          text-align: center;
        }
        input[type='checkbox']{
          width: 3rem;
          padding: 1rem;
        }
      }
    }
  }

  #Drivegrid ,#Drivegrid2 {
    tbody tr td{
      .btn{
        min-width: 60px;
        padding: .3rem ;
      }
    }
      thead tr th{
      .e-grid .e-headercelldiv{
        height: unset !important;
      }
      background-color: #cce0f6;
      .e-headertext{
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
      }
      .e-grid .e-headercelldiv{
        text-align: center;
      }
    }
  }
  
  .tableEditing {
    tr
    td,tr th{
    color: #212529;
    }
 
  }
  .BottomTableReturnOrder{
     &.table td, &.table th {
    padding: .2rem;
  }
  }
 