.bgAll{
  // background-color: #fdfdfc9a;
}
.logoutIcon:before{
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700;
}

.btnShiftOpen {
  z-index: 5000;
  width: 130px !important;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #00c9b7 !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top: 50%;
  left: 0;
  color: #fff !important;
  border: none;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
}
.btnShiftClosed {
  z-index: 5000;
  width: 130px !important;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ff0018 !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: fixed;
  top: 60%;
  left: 0;
  color: #fff !important;
  border: none;
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);
}
/*header style*/

.editshapImg{
padding: 17px;
}
.shapImg{
  width: 22rem;
  height:14rem;
  margin: auto;
} 
.logoImg{
  height: 96%;
  width: 96%;
  padding: 0;
  margin: 0; 
  .img-fluid {
    max-width: 76%;
    height: auto;
  }
}

.restaurantName7 {
  padding-right: 0rem;
  color: #fff !important;
  font-weight: 600;
  font-family: 'Roboto', cursive;
  text-shadow: 0.1rem 0.1rem 0.1rem #445373;
  font-size: 2.2rem !important;
  position: relative;
  display: inline-block;
  padding:  10px;
}
// .restaurantName7::before {
//   content: '';
//           height: 20px;
//           width: 20px;
//           position: absolute;
//           top: 0;
//           left: 0;
//           border-top: 7px solid #fff ;
//           border-left: 7px solid #fff ;
// }
// .restaurantName7::after {
//          content: '';
//           height: 20px;
//           width: 20px;
//           position: absolute;
//           bottom: 0;
//           right: 0;
//           border-bottom: 7px solid  #fff;
//           border-right: 7px solid  #fff;
// }
.containerEdit{
	max-width: 1170px;
	margin:auto;
}
@media (max-width: 1024px){
  .containerEdit{
    max-width: 970px;
    margin:auto;
  }
}
.containerEditTwo{
	max-width: 1170px;
	margin:auto;
  .cardEdit{
    width: calc(31.333333% -11px);
    margin: 5px 5px 7px;
    padding: 0px;
    position: relative;
    border: transparent;
    &:first-of-type{
      background-color: #000;
    }
    &:nth-child(2){
      background-color: #8194B6;
      img{
        // width: 7rem;
         height: 100%;
        object-fit: cover;
      }
      & span:first-of-type{
        border-bottom: 2px dashed #2a3549;
      }
      span{
        padding: .5rem;
       
      }
      h6{
        margin: 0;
      }
    }
    &:nth-child(3){
      background-color: #A0B7E1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      span{
       padding: .5rem;
      display: flex;
      }
      & span:first-of-type{
        border-bottom: 2px dashed #2a3549;
      }
      & span:nth-of-type(2){
        border-bottom: 2px dashed #2a3549;
      }
      h6{
        margin: 0;
      }
    }
  }
}
.cardEdit-infoU ul{
  max-height: 14rem; 
  display: flex;
  flex-wrap: wrap; 
  flex-direction: column;
}
@media(max-width: 991px){
  .containerEditTwo{
    max-width: 1170px;
    margin:auto;
    .cardEdit{
      width: calc(50% - 40px);
      margin:0 20px 10px;
      padding: 10px 0 0;
      position: relative;
      border: transparent;
      &:first-of-type{
        background-color: #000;
      }
      &:nth-child(2){
        background-color: #8194B6;
        img{
          width: 7rem;
          height: 7rem;
        }
        & span:first-of-type{
          border-bottom: 2px dashed #2a3549;
        }
        span{
          padding: .5rem;
          justify-content: center;
        }
        h6{
          margin: 0;
        }
      }
      &:nth-child(3){
        background-color: #A0B7E1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        span{
         padding: .5rem;
         display: flex;
         flex-direction: column;
        }
        & span:first-of-type{
          border-bottom: 2px dashed #2a3549;
        }
        & span:nth-of-type(2){
          border-bottom: 2px dashed #2a3549;
        }
        h6{
          margin: 0;
        }
      }
    }
  }
}

.rowEdit{
	display: flex;
	flex-wrap: wrap;
  background-color: #2a3549;
  border-radius: 10px;
}
/*end header style*/
/*team-section*/
.team-section{
	min-height: 100%;
  /* background-color: #19222e; */
  // background-color: #2a3549;
  padding-top: 5px;
}
.cardEdit-img .ms-panel .mainIcon{
  color: #fff !important;
  font-size: 50px;
}

.team-section button.cardEdit{
	width: calc((100% / 5) - 30px);
	margin:0 15px 10px;
	padding: 6px 0 0;
  position: relative;
  background-color: transparent;
  border: transparent;
 
}
.team-section .cardEdit-img{
	width: 139px;
	height: 132px;
	margin:auto;
	// border-radius: 50%;
	transition: box-shadow 0.3s ease;
  border:5px solid transparent;
  cursor: pointer;
  z-index: 50;
}
.team-section button.cardEdit:focus .cardEdit-img{
  border:5px solid transparent;
  cursor: pointer !important;
}
.team-section .cardEdit-img img{
  border-radius: 50%;
  margin: auto;
}
.cardEdit-img {
  display: flex;
  justify-content: center;
}
.cardEdit-img .ms-panel{
  // border-radius: 50%;
  border: transparent !important;
  box-shadow: none !important;
  margin: 0 !important;
  width: 100%;
  height: 100%;
  color: #fff;
  cursor: pointer;
}
.cardEdit-img .ms-panel .ms-panel-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.media-body h5{
  padding: .5rem;
  color: #ffff;
}
.team-section .cardEdit-info{
	padding:  5px;
	text-align: center;
	position: absolute;
	top: 9%;
	width: 130%;
	visibility: hidden;
	opacity: 0;
  z-index: 100;
  &.transactionInfo{
    top: -150% !important;
  }
}
.team-section button.cardEdit:focus .cardEdit-info{
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease;
  z-index: 100;
  border-radius: 5px;
}
// .team-section .cardEdit-info::before{
// 	content: '';
// 	position: absolute;
//   left: -2.8rem;
//   top: 10%;
//   border-bottom: 20px solid transparent;
//   border-top: 20px solid transparent;
//   border-left: 20px solid transparent;
// }
.team-section .cardEdit-info.transactionInfo::before{

  top: 50%;
 
}
.team-section .cardEdit-info .cardEdit-infoU ul li{
  padding: 7px 3px;
   position: relative;
   display: flex;
   align-items: center;
   margin: 0 0.2rem;
}
.team-section .cardEdit-info .cardEdit-infoU ul li::before{
  content: '\f111';
  font-family: 'FontAwesome';
  top: 0;
  right: 0;
  color: #fff ;
  font-size: .5rem;
  padding:  0 .5rem;
}
.team-section .cardEdit-info .cardEdit-infoU ul li:not(:last-child) {
  //  border-bottom: #ddd 1px solid;
}
.team-section .cardEdit-info .cardEdit-infoU ul li:hover{

  background-color: #fff;
  &::before{
    color: #fff;
  }
}
.team-section .cardEdit-info .cardEdit-infoU a{
  color: #fff !important;
  font-size: .9rem;
  transition: all 0.3s ease;
  font-weight: 600;

}
.team-section .cardEdit-info .cardEdit-infoU img{
	width: 25px;
}

/********* bg color **********/

$contentAll:
1 #3C6EA3,
2 #DB562D,
3 #0068C3,
4 #008800,
5 #892E78,
6 #603B80,
7 #B7770D,
8 #9F9F9F,
9 #d75a88,
10 #e0afa0,
11 #C34F75; 
@each $number , $color in $contentAll {

/*bg2*/
  .team-section{
    button.bg#{$number}{
      
      &.cardEdit{
          &:hover .cardEdit-img{
            box-shadow: 0 0 10px  $color;
          }
          .cardEdit-img{
            box-shadow: 0 0 10px $color;
            .ms-panel{
              &.bg#{$number}{
                background-color:$color ;
                  }
                }
            }
            .cardEdit-info{ 
            // box-shadow: 0 0 10px ;
            display: flex;
            border:5px solid transparent;
            background-color:$color; 
            color: #fff;
            box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
            .cardEdit-infoU{
              display: flex;
              justify-content: center;
              align-items: center;
              ul{
                li{
                  &:not(:last-child){
                    border-bottom: 1px dotted rgba(0,0,0,.19);
                  }
                  &:hover{
                    &::before{
                      color: $color;
                    }
                    a{
                      color: $color !important;
                    }
                  }
                }
              }
            }  
        }
      }    
    }

  }

  @media(max-width: 991px){
    .team-section{
      button.bg#{$number}{
        &.cardEdit{
            background-color:$color !important; 
          .cardEdit-img{
            .ms-panel{
              &.bg#{$number}{
                background-color:$color ;
              }
              }
          }
          .cardEdit-info{
              box-shadow: 0 0 10px $color;
              border:5px solid transparent;
              background-color:$color; 
              color: #fff;   
            .cardEdit-infoU{
              ul{
                li{
                    &:hover{
                    background-color:#fff;
                    color:$color !important;
                    a{
                      color: $color !important;
                      }
                    }
                    a{
                      color: #fff !important;
                    }
                }
              }
            }  
          }
        }    
      }
    
    }

  }
}

/* end bg color*/


.modal-header{
  border-bottom: 1px solid #ddd;
}
button.success{
  background-color: #ddd !important;
  color: #fff !important;
}
/* .btnShift.success {
  width: 200px !important;
} */
/*notification*/


/*responsive*/

@media(max-width: 991px){
  .cardEdit-infoU ul{
        /* max-height: 13rem; */
        max-height: fit-content;
        display: flex;
        
        flex-direction: column;
  }
  .team-section .cardEdit-info{
    top: 0%;
    width: 100%;
  }
  .team-section .cardEdit-info.transactionInfo {
    top: 0% !important;
}
	.team-section button.cardEdit{
		 width: calc(50% - 30px);
		background-color: #ffffff;
		padding:0 15px;
	}
	.team-section .cardEdit-info{
		position: relative;
		visibility: visible;
		opacity: 1;
		bottom: auto;
		left:auto;
	}
	.team-section .cardEdit-img{
		margin:10px auto;
		box-shadow: 0 0 10px rgba(0,0,0,0.2);
	}
	.team-section .cardEdit:hover .cardEdit-img{
	   box-shadow: 0 0 10px rgba(0,0,0,0.5);	
	}
	.team-section .cardEdit-info::before{
		content: none;
	}
	.team-section .cardEdit-info{
		padding:20px 3px ;
	}
}

@media(max-width: 574px){
	.team-section button.cardEdit{
      width: calc(100% - 30px);
   }
   
}

.cardEdit-infoU ul{
  padding: 0px;
}
