@import "./forget";
@import "./login&singUp";
@import "./home";
@import "./orderPayment";
@import "./payment";
@import "./porfolio";
@import "./resetPassword";
@import "./returnOrder";
@import "./screens";
@import "./sideDishes";
@import "./stock";
@import "./Widgets";
@import "./order";
@import "./kds";