.media-body h4{
    font-weight:bold;
}
h4.progressHeader{
    font-weight:bold;
}
.masonry-item { 
     width: 200px;
    // transition: top 0.4s ease-in-out, left 0.4s ease-in-out;
 }
.kds{
    .ms-card{
            -webkit-transform: translate(0,0);
            transform: translate(0,0);
            & > div{
                // width:100%;
                // height:100%;
            }
    }
    .ms-card-header h6 {
        font-weight: bold;
    }
    // .editGrid{
    //     column-count: 4;
    //     -moz-column-count: 4;
    //  -webkit-column-count: 4;
    //          column-gap: 5px;
    //     -moz-column-gap: 5px;
    //  -webkit-column-gap: 5px;
    //  & > div{
    //     display: inline-block;
    //     width: 100%;
    //     position: relative;
    //  }
    
    // }
    height: 100%;
    background: #001D3D;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    span{
        font-size: 1.1rem;
        color: grey;
        font-weight: 700;
    }
    .btn{
      
        &-warning{
            span{                
            color: #fff;
        }  
        }
        &_Light{
            background-color: #07be6e;
            color: #fff;
            &:hover{
                color: #fff !important;
            }
            span{                
                color: #fff;
            } 
        }
        &_danger{
            background-color: #d9534f;
            color: #fff;
            span{                
                color: #fff;
            }
        }
        &_yellow{
            background-color:#F7630C ;
            color: #fff;
            span{                
                color: #fff;
            }
        }
    }
    table{
        thead{
            tr th{
                color:#2c97b8;
                h4{
                    color:#2c97b8;
                }
            }
        }
    }
    .badge{
        border: #fff !important;
        color: #000 !important;
        background-color: #fff;
    
    }
    .link{
        &_blue{
            color: #fff !important;
            background-color:#5bc0de;
            font-weight: 700;
        }
    }
    .ms-checkbox-wrap input[type=checkbox]:checked + i.ms-checkbox-check::before{
        background-color: green ;
        border: green;
    }
    .ms-list-item {
         p,span{
        font-weight: bold;
        font-size: 1.2rem;
        color: #000;
         } 
    }
    .ms-card-header{
        
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
        &_green{
            background-color:#07be6e;
            span{                
                color: #fff;
              
                margin: .1rem;
                font-size: 1.2rem !important;
            }  
        }
        &_danger{
            background-color: #d9534f;
            color: #fff;
            span{                
                color: #fff;
                margin: .1rem;
                font-size: 1.2rem !important;
            }  
        }
        &_yellow{
            background-color:#F7630C ;
            color: #fff;
            span{                
                color: #fff;
                margin: .1rem;
                font-size: 1.2rem !important;
            }
        }
        &_warning{
            background-color: #fda600;
            color: #fff;
            span{                
                color: #fff;
                margin: .1rem;
                font-size: 1.2rem !important;
            }  
        }
           
    
    }
    ul.editulStyle{
        
        span{
            color:#000; 
            font-size: 1rem;
        }
     .note{
         //color:#13657e;
         color: #d9534f;   
         font-weight: bold;
         font-size: 1rem;
         font-family: "ultimatefont", sans-serif;
         i{
          color:#d9534f;
          //color: #525E54;
         }
         img{
            width: 20px;
            height: 20px;
        }  
     }
    }
   .popubtn{
       position: absolute;
       top: -15px;
       right: -4px;
       left: auto;
       width: 27px;
       height: 27px;
       background: #e89800;
       border-radius: 50%;
       font-size: 10px;
       text-align: center;
       color: #fff;
       padding: .5rem;
       border: 1px solid #e89800;
       z-index: 999;
       &:hover, &:focus{
           cursor: pointer;
       }
   }

   .modalll{
    position: fixed !important;
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    background: rgba(0,0,0,.65);
    width: 100% !important;
    height: 100vh;
    z-index: 9999 !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    line-height: normal;
}
.modalContin{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    padding: 25px 25px 35px 25px;
    width: 100%;
    max-width: 400px;
    font-family: sans-serif;
}
   .sideDishesLi {
       span{
         color:#07be6e !important;  
         font-weight: 700;
       } 
       img{
           width: 20px;
           height: 20px;
       }   
   }
   .bar-warning {
    background-color: yellow;
  }
  
  .bar-success {
    background-color: green;
  }
  
  .bar-error {
    background-color: red;
  }
  .progress {

    height: 20px;
  }
  .progress-bar{
      color: #000;
      font-weight: bold;
      height: 23px;
  }
}
/***** ready order ********/
ul.startOrders{
    li{
        display:flex;
        padding: .7rem 0;
       
        &:not(:last-child){
        border-bottom: 1px solid #ddd; 
        }
        &:nth-child(even) {
            background:#CAF0F8;
            & .progress{
            background-color:#fff !important;
            }
        }
        .progress{
            margin: 0 !important;
            width:100%;
        }
    }
}
.kds.readyOrder .sideDishesLi span {
    color: #EA3546!important;
    font-weight: 700;
}
.ms-checkbox-wrap input[type="checkbox"] {
    opacity: 1;
    width: 25px;
    height: 25px;
}
.readyOrder{
        // .editGrid2{
        //     column-count: 7;
        //     -moz-column-count: 7;
        // -webkit-column-count: 7;
        //         column-gap: 5px;
        //     -moz-column-gap: 5px;
        // -webkit-column-gap: 5px;
        // & > div{
        //     display: inline-block;
        //     width: 100%;
        //     position: relative;
        // }
        // }

/* Force new columns */

}

@media only screen and (max-width: 1200px) {
    // .kds {
    //     .editGrid2{
    //     column-count: 5;
    //     -moz-column-count: 5;
    //     -webkit-column-count: 5;
    //    } 
    // }
    ul.startOrders{
        li{
            display:flex;
            flex-direction: row;
        }
     }
}
@media only screen and (max-width:  992px) {
 
    ul.startOrders{
        li{
            display:flex;
            flex-direction: column;
        }
     }
}
@media only screen and (max-width:  768px) {
 
    ul.startOrders{
        li{
            display:flex;
            flex-direction: row;
        }
     }
}
/* customer KDS */
.customersKds{
    .progressHeader{
       color: #023E8A;
    }
   .kds{
        overflow-x: hidden;
  } 
    .progress-label, .progress-status {
        margin-bottom: 0px !important; 
    }
    .progress-label{
        color: #023E8A;
        padding: 0 .3rem;
    }
}

// .editGrid2.customersKds{
//     & > div{
//         width: 10rem;
//     }
// }
.editCircle{
    background-color: white;
    display: flex;
    justify-content: center;
    border: 2px #ddd solid;
    border-radius: 5PX;
    
    span{
        color: #000 !important;
    }
}


/******* RESPONSIVE  *******/

.readyOrder .editGrid3 {
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
    column-gap: 5px;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    
}
.readyOrder .editGrid2.customersKds {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    column-count: 9;
    -moz-column-count: 9;
    -webkit-column-count: 9;
    column-gap: 5px;
    -moz-column-gap: 5px;
    -webkit-column-gap: 5px;
    
}
@media only screen and  (max-width: 992px) {
    .kds {
        // .editGrid {
        //   column-count: 3;
        //   -moz-column-count: 3;
        //   -webkit-column-count: 3;
        // }
          .editGrid2{
        column-count: 4;
        -moz-column-count: 4;
        -webkit-column-count: 4;
       } 
       .editGrid3{
        column-count: 5;
        -moz-column-count: 5;
        -webkit-column-count: 5;
       } 
       .editGrid2.customersKds{
        column-count: 4;
        -moz-column-count: 4;
        -webkit-column-count: 4;
       }
    }
     
}
@media only screen and (max-width: 768px) {
    .kds{
        // .editGrid{
        //     column-count: 3;
        //     -moz-column-count: 3;
        //     -webkit-column-count: 3;
        // }
        .editGrid2{
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
    .editGrid3{
        column-count: 3;
        -moz-column-count: 3;
        -webkit-column-count: 3;
    }
    }

}
@media only screen and (max-width: 576px) {
    .kds {
    //   .editGrid {
    //     column-count: 2;
    //     -moz-column-count: 2;
    //     -webkit-column-count: 2;
    //   }
        .editGrid2{
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
    .editGrid3{
        column-count: 2;
        -moz-column-count: 2;
        -webkit-column-count: 2;
    }
    }
}
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}