.logo2 {
  width: 7.5rem;
  height: 7.5rem;
}

.logo22 {
  width: 7rem;
  height: 7rem;
}

.flaticon-secure-shield::before {
  font-size: 2rem !important;
}

i.fa-check-circle {
  color: green !important;
}

i.fa-envelope-open,
.fa-times-circle,
.fa-edit {
  font-size: 1.4em;
  /* color: orangered !important; */
}

// .fa-keyboard {
//   font-size: 1.4em !important;
//   color: #fff !important;
// }

.login {
  background-image: url("../images/Layer_Last.jpg?v=1234") !important;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 149vh;
  width: 100%;
  position: relative;
}

.marginLeft{
  margin-left: auto;
  margin-right: 1px;
}


@media (max-width: 960px) {
  .login {
    height: 160vh !important;
  }

  .overlay {
    height: 160vh !important;
  }
}

form.LoginForm {
  border: solid rgba(0, 0, 0, 0.04) 0.1rem;
  background-color: #fff;
  box-shadow: 10px 10px 30px #00000029;
  padding: 1rem 1rem !important;
  width: 100%;
  border-radius: 0.5rem;
  align-self: flex-end !important;
  position: relative;
}

.LoginForm .form-control:focus {
  border-color: 1px solid rgba(0, 0, 0, 0.1) !important;
  box-shadow: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.submitBtn {
  float: right !important;
  border: none;
  background-color: #334159 !important;
  color: #fff;
  margin-right: 0 !important;
}

.submitBtn:focus {
  border: none !important;
  background-color: #334159 !important;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.2) !important;
}

@media (max-width: 768px) {
  .loginH3 {
    margin: 1.5rem auto;
    font-size: 40px;
    letter-spacing: 5px;
    position: relative;
    z-index: 1;
    color: #334159;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
  }
}

.alert-danger {
  /* border:.1rem #dd6e79 solid; */
  border-radius: 0.2rem;
  padding: 0.1rem;
}

.loginH3 {
  margin: 0.5rem 0 3rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  position: relative;
  z-index: 1;
  color: #334159;
  font-family: Helvetica, sans-serif;
  font-weight: 700;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.6);
}


h3.modelH3 {
  color: #ff0018;
}

.restaurantName {
  color: #fff !important;
  font-family: "Roboto", cursive;
  text-shadow: 0.1rem 0.1rem 0.1rem #ae1931;
  font-size: 2.4rem !important;
  padding: 1.2rem 0rem;
  letter-spacing: 0.1rem;
}

.alert {
  position: relative;
  padding: 0 !important;
  margin-bottom: 0rem !important;
  border-radius: 0.25rem;
}

.appleLogin {
  color: #ae1931 !important;
}

.checkedN:checked+label::before {
  content: '' !important;
}