.card-body.resetCard {
    padding: 0rem !important;
  }
  
  form.formReset {
    background-color: #fff;
    box-shadow: none !important;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    margin: 0.1rem auto;
    box-sizing: border-box;
  }
  

  .labelReset {
    font-size: 1.1rem;
    margin-top: 0.4rem;
  }
  
  @media (max-width: 1100px) {
    .card {
      width: 60%;
      border-radius: 0.5rem;
      border: none;
    }
  }
  
  @media (max-width: 768px) {
    .card {
      width: 80%;
      border-radius: 0.5rem;
      border: none;
    }
  }
  
  .card-header {
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif !important;
    font-weight: 700 !important;
    color: rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 2rem;
    font-size: 24px !important;
    text-transform: uppercase;
    line-height: 29px !important;
    background-color: #fff;
    height: 5rem !important;
  }
  
  .IconRecover {
    color: #ff0018;
    font-size: 2rem;
  }
  
  .submitRST {
    padding: 0.6rem 1rem !important;
    margin: 0.2rem 0rem 1rem auto;
    float: right;
    min-width: 90px;
  }


  /****************** Forget Password ******************************/
  .cardForget {
    min-width: 40% !important;
    margin: 5rem auto !important;
  }
  
  .navbar-brand-edit {
    padding-bottom: 0 !important;
    padding-top: 0.9rem !important;
  }
  
  .pargh {
    color: grey;
    padding: -1rem 1rem 0.5rem 0.1rem;
    font-size: 1rem;
  }
  
  .sendLink {
    background-color: #ff0019f6 !important;
    border-color: #ff0018 !important;
    color: #fff !important;
    padding: 0.5rem !important;
    font-size: 1.1rem;
  }
  
  .modelh3 {
    margin: 0.5rem 0 1rem 0;
    font-size: 2rem;
    letter-spacing: 0 !important;
    position: relative;
    z-index: 1;
    color: rgba(0, 0, 0, 0.9) !important;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    text-shadow: none !important;
  }
  
  /*************** modal link send ******************/
  
  i.flaticon-secure-shield {
    color: #ff0018;
  }
  
  i.flaticon-tick-inside-circle {
    color: #28a745;
  }
  
  i.flaticon-information {
    color: #ff0018;
  }
  
  .modal-min .modal-body i::before {
    font-size: 60px;
  }
  
  .modal-min .modal-body i.flaticon-alert-1::before {
    font-size: 60px;
    color: #ff0018;
  }
  
  .modelH3 {
    font-size: 1.7rem !important;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4) !important;
  }
  
  .modelH3No {
    color: #ff0019de !important;
    font-size: 1.7rem !important;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4) !important;
  }