/* Default Login and Signup */

.ms-content-wrapper.ms-auth {
    padding: 0;
    background-color: #fff;
    height: 100vh;
  }
  
  .ms-auth-container {
    display: flex;
  }
  
  .ms-auth-col {
    flex: 1 1 auto;
    height: 100vh;
  }
  
  .ms-auth-bg {
    position: relative;
    height: 100%;
    background-image: url("https://via.placeholder.com/1000x700");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .ms-auth-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 3rem 1rem;
  }
  
  .ms-auth-form form {
    width: 40%;
  }
  
  .ms-auth-form .btn-social-login span {
    width: 150px;
    display: inline-block;
    text-align: left;
  }
  
  .ms-auth-form .btn-social-login img {
    width: 20px;
    margin-right: 15px;
  }
  
  .ms-auth-form .btn-social-login {
    background-color: #f6f6f6;
  }
  
  /* Modal Login and Signup */
  .modal-auth.modal-dialog {
    max-width: 95%;
  }
  
  .modal-auth .modal-content {
    height: auto;
  }
  
  .modal-auth .modal-body {
    padding: 0;
    overflow: hidden;
  }
  
  .modal-auth .modal-content {
    border-radius: 0;
  }
  
  .modal-auth .close {
    position: absolute;
    top: -30px;
    right: -30px;
    z-index: 2;
    background-color: #3a3952;
    opacity: 1;
    width: 70px;
    height: 70px;
    border-bottom-left-radius: 50%;
  }
  
  .modal-auth .ms-auth-col:first-child {
    flex: 1 1 0;
  }
  
  .modal-auth .close span {
    position: absolute;
    bottom: 13px;
    left: 20px;
    color: #fff;
  }
  
  .modal-auth .ms-auth-col {
    height: auto;
  }
  
  .modal-auth .ms-auth-form {
    padding: 3rem 1rem;
  }
  
  .modal-auth .ms-auth-bg {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-auth .ms-auth-bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 127, 250, 0.8);
    z-index: -1;
  }
  
  .ms-auth-slider {
    text-align: center;
    width: 50%;
  }
  
  .ms-auth-slider h1 {
    margin-bottom: 1rem;
    font-size: 28px;
  }
  
  .ms-auth-slider h1,
  .ms-auth-slider p {
    color: #fff;
  }
  
  .modal-auth .ms-indicator-slider .carousel-indicators li {
    background: #fff;
  }
  
/* Lock screen */
.ms-lock-screen {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://via.placeholder.com/1920x1080");
    background-size: cover;
    background-position: center center;
    z-index: 2;
  }
  
  .ms-lock-screen-user {
    width: 150px;
    margin-bottom: 2rem;
  }
  
  .ms-lock-screen .ms-content-wrapper {
    text-align: center;
    width: 500px;
  }
  
  .ms-lock-screen .ms-content-wrapper h1 {
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .ms-lock-screen input.ms-form-input {
    background-color: transparent !important;
    border: 1px solid #fff;
    color: #fff !important;
    border-radius: 5px;
    width: 100%;
  }
  
  .ms-lock-screen input.ms-form-input:focus {
    background: transparent;
  }
  
  .ms-lock-screen input.ms-form-input+i {
    color: #fff;
    top: 15px;
    font-size: 16px;
  }
  
  .ms-lock-screen input.ms-form-input::placeholder {
    color: #fff !important;
    opacity: 1;
  }
  
  .ms-lock-screen input.ms-form-input:-ms-input-placeholder {
    color: #fff !important;
  }
  
  .ms-lock-screen-nav {
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 150px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 20;
    padding: 1rem 0;
    border-radius: 25px;
  }
  
  .ms-lock-screen-nav li.ms-nav-item {
    padding: 0 1rem;
  }
  
  .ms-lock-screen-nav .ms-nav-item>a i {
    color: #fff;
    font-size: 20px;
  }
  
  .ms-lock-screen-nav .dropdown-menu {
    width: 300px;
  }
  
  .ms-lock-screen-weather {
    position: absolute;
    top: 2rem;
    left: 2rem;
    z-index: 3;
  }
  
  .ms-lock-screen-weather p {
    color: #fff;
    font-size: 1.3rem;
  }
  
  .ms-lock-screen-weather p:first-child {
    font-size: 4rem;
  }
  
  .ms-lock-screen-time {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
  }
  
  .ms-lock-screen-time p {
    color: #fff;
    font-size: 1.3rem;
  }
  
  .ms-lock-screen-time p:first-child {
    font-size: 6rem;
    line-height: 5rem;
  }
  /* Error 404 */
.ms-error-404 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url("https://via.placeholder.com/1920x1080");
    background-size: cover;
    background-position: center center;
    z-index: 5;
  }
  
  .ms-error-404::before,
  .ms-lock-screen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff00009e;
    z-index: -1;
  }
  
  .ms-error-404 .ms-content-wrapper {
    text-align: center;
  }
  
  .ms-error-404 .ms-content-wrapper i::before {
    font-size: 8rem;
  }
  
  .ms-error-404 .ms-content-wrapper a i {
    margin-right: 5px;
  }
  
  .ms-error-404 .ms-content-wrapper h3 {
    font-size: 24px;
    font-weight: 400;
  }
  
  .ms-error-404 .ms-content-wrapper h1,
  .ms-error-404 .ms-content-wrapper h3,
  .ms-error-404 .ms-content-wrapper p,
  .ms-error-404 .ms-content-wrapper i::before {
    color: #fff;
    margin-bottom: 1rem;
  }
  
  /* Coming Soon */
  .ms-coming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://via.placeholder.com/1920x1080");
    background-size: cover;
    background-position: center center;
  }
  
  .ms-coming-soon .ms-content-wrapper {
    text-align: center;
    width: 500px;
  }
  
  .ms-coming-soon h1 {
    font-size: 44px;
    margin-bottom: 2rem;
    color: #3a3952;
  }
  
  .ms-coming-soon p {
    color: #3a3952;
    margin-bottom: 2rem;
  }
  
  .ms-dark-theme .ms-coming-soon p.ms-duration,
  .ms-dark-theme .ms-coming-soon h1 {
    color: #3a3952;
  }
  
  .ms-coming-soon button {
    padding: 0.225rem 1rem;
  }
  
  .ms-coming-soon ul {
    margin: 2rem 0;
  }
  
  .ms-coming-soon ul li p {
    margin-bottom: 0;
    font-weight: 700;
  }
  
  .ms-coming-soon ul li p:first-child {
    font-size: 26px;
  }
  
  .ms-coming-soon .input-group {
    margin-bottom: 2rem;
  }
  
  .ms-coming-soon ul li a.ms-social {
    font-size: 18px;
  }
  
  .ms-coming-soon ul.ms-social-container {
    justify-content: space-around;
  }
  
  a.ms-fb,
  .ms-dark-theme a.ms-fb {
    color: #3b5797;
  }
  
  .nav-tabs.white li a {
    background-color: #fff;
  }
  
  .ms-dark-theme .ms-card-body span.white {
    background: #ff0018;
    border-radius: 19%;
    padding: 7px 7px;
    color: #fff;
    font-weight: 600;
  }
  
  .ms-card-body span.white {
    background: #ff0018;
    border-radius: 19%;
    padding: 7px 7px;
    color: #fff;
    font-weight: 600;
  }
  
  a.ms-pnt,
  .ms-dark-theme a.ms-pnt {
    color: #bd081b;
  }
  
  a.ms-tw,
  .ms-dark-theme a.ms-tw {
    color: #3da4f3;
  }
  
  a.ms-wa,
  .ms-dark-theme a.ms-wa {
    color: #29928b;
  }
  
  a.ms-skype,
  .ms-dark-theme a.ms-skype {
    color: #0991fa;
  }
  
  a.ms-g-plus,
  .ms-dark-theme a.ms-g-plus {
    color: #db4a39;
  }
  
  .ms-dark-theme .ms-coming-soon .form-control {
    background-color: #fff;
    color: #495057;
  }
  
  .ms-dark-theme .ms-coming-soon input.form-control::placeholder {
    color: #495057;
    opacity: 1;
  }
  
  .ms-dark-theme .ms-coming-soon input.form-control::-ms-input-placeholder {
    color: #495057;
  }
  
  /* User Profile */
  
  .ms-profile-overview {
    position: relative;
    height: 500px;
    background-color: #fff;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 1px 6px 1px rgba(69, 65, 78, 0.1);
    -moz-box-shadow: 0 1px 6px 1px rgba(69, 65, 78, 0.1);
    box-shadow: 0 1px 6px 1px rgba(69, 65, 78, 0.1);
  }
  
  .ms-profile-cover {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url("https://via.placeholder.com/1920x400");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 87%;
    width: 100%;
    padding: 1.5rem;
    padding-bottom: 0;
    z-index: 1;
  }
  
  .ms-profile-cover::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0.4),
        rgba(255, 255, 255, 0));
    z-index: -1;
  }
  
  .ms-profile-cover img {
    width: 200px;
    margin-bottom: -35px;
    border: 3px solid #fff;
    border-radius: 5px;
  }
  
  .ms-profile-user-info,
  .ms-profile-user-buttons {
    padding: 0 0 1.5rem 1.5rem;
  }
  
  .ms-profile-user-buttons {
    flex: 1 1 auto;
    text-align: right;
  }
  
  .ms-profile-user-buttons button i {
    margin-right: 5px;
  }
  
  .ms-profile-user-info h1,
  .ms-profile-user-info h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
  }
  
  .ms-profile-user-info h2 {
    font-size: 12px;
    font-weight: 400;
  }
  
  .ms-profile-skills {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem 0 0;
  }
  
  .ms-skill-list {
    margin-bottom: 0;
  }
  
  .ms-skill-list .ms-skill {
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1rem;
    margin: 0 0.5rem 0.5rem 0;
    text-align: center;
    min-width: 100px;
    font-weight: 500;
  }
  
  .ms-profile-information tr td {
    text-align: right;
  }
  
  .ms-profile-stats {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0 0 1rem 0;
    margin-bottom: 1.5rem;
  }
  
  .ms-profile-stats li {
    flex: 1;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .ms-profile-stats li:last-child {
    border-right: 0;
  }
  
  .ms-profile-stats li span {
    display: block;
  }
  
  li .ms-count {
    font-size: 24px;
    font-weight: 700;
  }
  
  .ms-profile-navigation {
    position: absolute;
    bottom: 0;
    left: 250px;
  }
  
  .ms-profile-navigation li {
    flex: 0 0 auto;
  }
  
  .ms-profile-navigation li a {
    padding: 1rem;
  }
  
  .ms-profile-navigation.tabs-bordered li a {
    border-bottom: 0;
    color: #878793;
  }
  
  .ms-profile-experience {
    margin-bottom: 1.5rem;
  }
  
  .ms-profile-experience p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.5rem;
  }
  
  .ms-profile-experience h4 {
    margin-bottom: 0;
    font-size: 16px;
  }
  
  /* Portfolio */
  .card-columns .card {
    margin-bottom: 1.5rem;
    border: 0;
  }
  
  .ms-portfolio-item {
    position: relative;
    overflow: hidden;
  }
  
  .ms-portfolio-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top,
        rgba(0, 0, 0, 0.4),
        rgba(255, 255, 255, 0));
    z-index: 1;
  }
  
  .ms-portfolio img,
  .ms-portfolio .card {
    border-radius: 10px;
  }
  
  .ms-portfolio-item-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1rem;
    z-index: 2;
  }
  
  .ms-portfolio-item-content h4,
  .ms-portfolio-item-content .item-content-inner span,
  .ms-portfolio-minimal .ms-portfolio-item-content p {
    color: #fff;
  }
  
  .item-content-inner {
    display: flex;
    margin-top: 0.5rem;
  }
  
  .ms-portfolio-item-content .item-content-inner span {
    margin-right: 2rem;
  }
  
  .ms-portfolio-item-content .item-content-inner span i {
    font-size: 16px;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item-content {
    text-align: center;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item-content p {
    margin-bottom: 0;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item-content {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item::before {
    height: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item:hover::before {
    height: 100%;
  }
  
  .ms-portfolio-minimal .ms-portfolio-item:hover .ms-portfolio-item-content {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  /* Incvoice */

.invoice-address h3 {
    font-size: 30px;
    margin-bottom: 1rem;
  }
  
  .invoice-address h5 {
    font-size: 16px;
    margin-bottom: 0.75rem;
  }
  
/* Web Analytics */
.ms-graph-metrics .btn {
    margin-top: 0;
    min-width: auto;
    padding: 0.825rem 1rem;
  }
  
  .ms-site-select .dropdown-menu {
    width: 250px;
    margin-top: 1rem;
  }
  
  .ms-active-site {
    margin-bottom: 1.5rem;
    cursor: pointer;
  }
  
  .ms-site-select .selected span {
    color: #5cb85c;
  }
  
  .ms-active-site.has-chevron::after {
    top: 1px;
    right: auto;
    left: 100%;
    margin-left: 5px;
  }
  
  .ms-graph-meta {
    margin-top: 1.5rem;
  }
  
  .ms-graph-meta ul {
    margin-bottom: 0;
  }
  
  .ms-graph-meta li {
    margin-right: 1.5rem;
  }
  
  .ms-graph-meta h3 {
    margin-top: 0.35rem;
    margin-bottom: 0;
  }
  
  .ms-graph-labels {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-graph-labels span {
    width: 15px;
    height: 7px;
    border-radius: 25px;
    display: inline-block;
  }
  
  .ms-graph-labels.column-direction {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .ms-graph-decrease {
    background-color: #ec4e3f;
  }
  
  .ms-graph-regular {
    background-color: #000000;
  }
  
  .ms-graph-labels p {
    display: inline-block;
    margin: 0 20px 0 10px;
    color: #3a3952;
  }
  
  .ms-graph-labels p:last-child {
    margin-right: 0;
  }
  
  .ms-trend {
    position: relative;
    width: 150px;
  }
  
  .ms-trend canvas {
    position: absolute;
    top: 0;
    width: 50% !important;
    height: 40px !important;
  }
  
  .ms-device-sessions .ms-panel-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .ms-device-sessions .ms-panel-footer h6 {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
  }
  
  .ms-device-sessions .ms-device {
    margin-bottom: 1.5rem;
  }
  
  .load {
    margin: auto;
    text-align: center;
    cursor: pointer;
  }
  
  .space {
    margin-right: 15px;
  }
  
  .ms-device-sessions .ms-device i {
    font-size: 24px;
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 5px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-device-sessions .ms-device p {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .ms-device-sessions .ms-device p:last-child {
    font-size: 14px;
    font-weight: 400;
  }
  
  .ms-device-sessions .progress {
    height: 2rem;
    border-radius: 0;
    margin-bottom: 0;
  }
  
  .ms-panel-footer .ms-device {
    margin-bottom: 0;
  }
  
  .website-performance-canvas,
  .ms-graph-canvas {
    position: relative;
    flex: 1 1 auto;
    height: 50px;
    width: 90%;
  }
  
  .ms-website-performance li.ms-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
  }
  
  .ms-website-performance li:last-child {
    border-bottom: 0;
  }
  
  .website-performance-canvas canvas,
  .ms-graph-canvas canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
  
  .website-performance-meta {
    text-align: right;
    margin-left: 1rem;
  }
  
  .website-performance-meta p:first-child,
  .ms-facebook-engagements .ms-graph-meta p:first-child {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .ms-average-users-country .vector-map {
    height: 275px;
  }
  
/* Crypto Currency */
.ms-news-update {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #ff0018;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .ms-news-update::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-bottom: 70px solid #fff;
    border-left: 35px solid transparent;
  }
  
  .ms-news-update span {
    text-transform: uppercase;
    color: #fff;
    margin-left: 15px;
  }
  
  .ms-news-flash-container {
    overflow: hidden;
    padding: 1.2rem;
  }
  
  .ms-news-flash-container li p {
    font-weight: 400;
  }
  
  .ms-crypto-overview-slider .slick-list {
    cursor: grab;
    padding: 1.5rem;
  }
  
  .ms-crypto-overview-slider .slick-slide:focus {
    outline: none;
  }
  
  .ms-crypto-overview i {
    margin-right: 5px;
  }
  
  .ms-crypto-rating a.has-chevron {
    color: #878793;
  }
  
  .ms-crypto-rating a.has-chevron i {
    margin-right: 5px;
  }
  
  .ms-crypto-rating a.has-chevron::after {
    top: 1px;
    right: -20px;
  }
  
  .ms-crypto-rating .dropdown {
    margin: 1rem 0;
  }
  
  .ms-crypto-orders .nav-tabs li a {
    background-color: transparent;
    color: #ff0018;
    border: 1px solid #ff0018;
    padding: 0.825rem 1rem;
    border-radius: 0.2rem;
    margin-top: 0;
  }
  
  .ms-crypto-orders .nav-tabs li:first-child a {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .ms-crypto-orders .nav-tabs li:not(:first-child) a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .ms-crypto-orders .nav-tabs li a.active {
    background-color: #ff0018;
    color: #fff !important;
  }
  
  .ms-quick-stats {
    display: flex;
    align-items: center;
  }
  
  .ms-quick-stats i {
    font-size: 34px;
    padding: 10px;
    width: 44px;
    height: 44px;
    margin-bottom: 0.825rem;
    border-radius: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-quick-stats p {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .ms-stats-grid {
    text-align: center;
    padding: 0.7rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex: 0 0 50%;
  }
  
  .ms-quick-stats:last-child .ms-stats-grid {
    border-bottom: 0;
  }
  
  .ms-crypto-amount {
    width: 180px;
  }
  
  .ms-crypto-orders-expanded .ms-trend {
    width: auto;
  }
  
  .ms-news-highlight {
    border-top: 3px solid #f8f8f8;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .ms-news-highlight:hover,
  .ms-dark-theme .ms-news-highlight:hover {
    border-top-color: #ff0018;
    opacity: 0.8;
  }
  
  .ms-news-highlight h2 {
    margin: 1rem 0;
  }
  
  /* Social Media */
  
  .ms-social-media-followers {
    display: flex;
    align-items: center;
  }
  
  .ms-social-media-followers i {
    font-size: 24px;
    padding: 10px;
    width: 44px;
    height: 44px;
    margin-bottom: 0.825rem;
    border-radius: 5px;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-social-media-followers p {
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: 700;
  }
  
  .ms-social-grid {
    text-align: center;
    padding: 0.7rem;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    flex: 0 0 50%;
  }
  
  .ms-social-media-followers:last-child .ms-social-grid {
    border-bottom: 0;
  }
  
  table td .progress {
    margin-bottom: 0;
    background: #fff;
    border-radius: 0;
  }
  
  .ms-facebook-engagements p {
    margin-bottom: 0;
  }
  
  .ms-twitter-feed .media {
    align-items: flex-start;
  }
  
  .ms-feed .media .ms-img-round {
    margin-right: 1rem;
  }
  
  .ms-twitter-feed .ms-feed-user,
  .ms-twitter-feed .ms-feed-user+p {
    display: inline-block;
  }
  
  .ms-feed p {
    font-size: 14px;
  }
  
  .ms-feed li.ms-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 0;
  }
  
  .ms-feed li.ms-list-item:last-child {
    border-bottom: 0;
  }
  
  .ms-feed-controls {
    display: flex;
    margin-top: 1rem;
  }
  
  .ms-feed-controls span {
    margin-right: 2rem;
  }
  
  .ms-feed-controls span i {
    font-size: 18px;
  }
  
  .ms-facebook-feed .ms-feed-user {
    margin-bottom: 0;
  }
  
  .ms-facebook-feed .media {
    margin-bottom: 0.5rem;
  }
  
  .ms-fb-feed-img {
    border-radius: 5px;
    margin: 1rem 0;
  }
  
  .ms-fb-post-meta {
    display: flex;
    justify-content: center;
  }
  
  .ms-fb-post-meta i {
    width: 20px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #ff0018;
    color: #fff;
    margin-right: 5px;
    font-size: 12px;
  }
  
  .ms-facebook-feed .ms-feed-controls {
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
  }
  
  .ms-facebook-feed .ms-feed-controls span {
    margin: 0;
    cursor: pointer;
  }
  
  .ms-instagram-feed .ms-feed-controls {
    margin-top: 0;
  }
  
  .ms-instagram-feed .ms-feed-controls i {
    font-size: 24px;
    margin-right: 1rem;
    font-weight: 400;
    cursor: pointer;
  }
  
  .ms-instagram-feed .ms-group-members {
    margin: 1rem 0;
  }
  
  .ms-facebook-engagements li.ms-list-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 0;
  }
  
  .ms-facebook-engagements li.ms-list-item:last-child {
    border-bottom: 0;
  }
  
  .ms-facebook-engagements .ms-graph-meta {
    text-align: left;
    margin-top: 0;
    margin-right: 1rem;
  }
  
  .ms-facebook-page-selection {
    padding: 1.5rem;
    padding-bottom: 0;
  }
  
  .ms-facebook-page-selection .dropdown {
    display: inline-block;
    margin: 1.5rem 0 0;
  }
  
  .ms-facebook-page-selection .dropdown a.has-chevron::after {
    top: 0;
    right: auto;
    left: 100%;
  }
  
  /* Client Management */
  
  .ms-recent-support-tickets .ms-list-item:hover {
    background-color: #e9ecef;
  }
  