.kitchenIncoming{
  li{
    margin: 0;
    width: fit-content !important;
    padding: .1rem !important;
    a{
      margin: 0 !important;
      border-radius: 5px !important;
      width: fit-content !important;
      padding: .1rem !important;
      &.btnEdit {
        min-width: 120px !important;
        &:hover{
          padding: .1rem !important;
        }

    }
  }
}
}
.shortcuts {
    z-index: 7;
    position: relative;
    margin-top: -57px;
    padding: 55px 0;
    background-position: center;
    background-size: cover;
  }
  
  .shortcuts .feat_section {
    position: relative;
  }
  
  .shortcuts .feat_section .shortcut_card {
    cursor: pointer;
    opacity: 0.9;
    box-shadow: 2px 3px 22px 0px rgba(0, 0, 0, 0.09);
    background: #fff;
    padding: 15px;
    position: relative;
    text-align: center;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    height: 200px;
    display: flex;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    justify-content: center;
  }
  
  .shortcuts .feat_section .shortcut_card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .shortcuts .feat_section .shortcut_card .icon {
    color: #fff;
    padding: 0;
    width: 100px;
    font-size: 40px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background: #007bff;
  
  }
  
  .shortcuts .feat_section .shortcut_card h5 {
    color: #2d4057;
    font-weight: 700;
    padding-top: 10px;
    text-align: center;
    margin-bottom: 0;
    font-family: "ultimatefont";
  }
  
  .shortcuts .feat_section .shortcut_card p {
    padding-top: 15px;
    color: #6a7579;
    font-size: 17px;
  
  }
  
  .shortcuts .feat_section .shortcut_card span {
    padding-top: 15px;
    font-size: 17px;
    background: #007bff;
  }
  
  .shortcuts .feat_section .shortcut_card span i {
    font-size: 17px;
    margin: 0;
    transform: translateY(2px);
    padding-left: 5px;
    background: #007bff;
  
  }
  
  .shortcuts .feat_section .shortcut_card_2 {
    background: #ffb74d;
  }
  
  .shortcuts .feat_section .shortcut_card_2 h5 {
    color: #fff;
  }
  
  .shortcuts .feat_section .shortcut_card_2 .icon {
    background: #fff;
    color: #ffb74d;
  }
  
  .shortcuts .feat_section .shortcut_card_3 {
    background: #ff5252;
  }
  
  .shortcuts .feat_section .shortcut_card_3 h5 {
    color: #fff;
  }
  
  .shortcuts .feat_section .shortcut_card_3 .icon {
    background: #fff;
    color: #ff5252;
  }
  
  .shortcuts .feat_section .shortcut_card_4 {
    background: #9575cd;
  }
  
  .shortcuts .feat_section .shortcut_card_4 h5 {
    color: #fff;
  }
  
  .shortcuts .feat_section .shortcut_card_4 .icon {
    background: #fff;
    color: #9575cd;
  }
  
  .shortcuts .feat_section .shortcut_card_1 {
    background: #f50057;
  }
  
  .shortcuts .feat_section .shortcut_card_1 h5 {
    color: #fff;
  }
  
  .shortcuts .feat_section .shortcut_card_1 .icon {
    background: #fff;
    color: #f50057;
  }
  
  .shortcuts .feat_section .shortcut_card:hover {
    background-color: #f6fcff;
    box-shadow: 4px 8px 22px 0px rgba(82, 82, 82, 0.34);
    transform: translateY(-5px);
  }
  
  .shortcuts .feat_section .shortcut_card:hover h5 {
    color: #2d4057;
  }
  
  .title {
    text-align: right;
    margin-bottom: 20px;
    font-size: 22px;
    font-family: "ultimatefont";
  }
  
.nav-tabs-editM.EditBox li{
  height: 70px;
  margin: 1px !important;
  overflow: hidden;
  cursor: unset;
  a{
      height: 100%;
  }
  .btn{
      white-space: unset;
  }
  }
  .narrow {
      padding: 10px;
      width: 120px;
      margin: 0 auto;
      font-size: 20px;
      line-height: 1.5;
    }
    .breakAll {
      word-break: break-word;
    }
  #ItemsNav li {
      margin: 1px;
      padding: 1px;
      height: 70px;
      margin: 1px !important;
      overflow: hidden;
      cursor: unset;
      .btn{
        white-space: unset;
    }
      a{
           background: #e5e5e5;
           color: #222;
           margin: 1px;
           height: 100%;
      }
  }