/* Widgets */
.ms-widget.ms-has-new-msg .msg-count {
    top: -7px;
    right: 9px;
    left: auto;
  }
  
  .ms-notification-widget i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #f0f0fa;
    color: #ff0018;
    margin-right: 1rem;
    font-size: 20px;
  }
  
  .PPC-alt {
    color: #3fa30c;
  }
  
  .ETH {
    color: #4e8ee8;
  }
  
  .ZEC-alt {
    color: #e5a93d;
  }
  
  .ADA-alt {
    color: #3cc8c8;
  }
  
  .EOS-alt {
    color: #19191a;
  }
  
  .ms-widget.ms-chat-conversations .ms-panel-footer {
    padding: 0;
  }
  
  .ms-followers.ms-list .ms-list-item {
    padding: 1rem;
    margin-bottom: 0;
  }
  
  .ms-followers li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .ms-followers li:last-child {
    border-bottom: 0;
  }
  
  .ms-followers li h4 {
    margin-bottom: 0;
  }
  
  .ms-followers li button {
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .ms-followers .ms-list-item.media i {
    margin-right: 0;
  }
  
  .ms-profile-widget {
    text-align: center;
  }
  
  .ms-profile-widget .ms-user-img {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 2;
    border: 3px solid #ff0018;
  }
  
  .ms-card.ms-profile-widget .ms-card-img {
    position: relative;
    z-index: 1;
  }
  
  .ms-card.ms-profile-widget .ms-card-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #ff00185c, #bc263494);
    z-index: 1;
  }
  
  .ms-card.ms-profile-widget .ms-card-body {
    padding-top: 65px;
  }
  
  .ms-profile-widget h2 {
    margin-top: 1rem;
  }
  
  .ms-profile-widget button {
    margin: 0;
  }
  
  .ms-profile-widget span {
    display: block;
    margin-bottom: 1rem;
  }
  
  .ms-profile-widget .ms-profile-stats {
    padding: 1rem 0 0 0;
    border-bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  
  .ms-email-widget .form-group {
    position: relative;
  }
  
  .ms-email-widget .form-group input+.ms-cc {
    position: absolute;
    right: 0.75rem;
    top: 8px;
    color: #ff0018;
  }
  
  .ms-crypto-widget .table {
    margin-top: 1.5rem;
    margin-bottom: 0;
  }
  
  .ms-infographics-widget .media-body p {
    margin-bottom: 0;
  }
  
  .ms-infographics-widget.has-graph canvas {
    position: absolute;
    top: 1rem;
    right: 0;
    height: 70% !important;
    width: 170px !important;
  }
  
  .ms-infographics-widget.has-graph i,
  .ms-infographics-widget.has-graph-full-width i.cc {
    font-size: 40px;
    margin-right: 1rem;
  }
  
  .ms-infographics-widget.has-graph-full-width {
    position: relative;
  }
  
  .ms-infographics-widget.has-graph-full-width .ms-card-body {
    padding-bottom: 0;
  }
  
  .ms-infographics-widget.has-graph-full-width canvas {
    height: 60px !important;
    width: 100% !important;
  }
  
  .has-graph-full-width .ms-chart-label {
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 25px;
    color: #fff;
    font-size: 12px;
    padding: 0.25rem 0.75rem;
  }
  
  .ms-infographics-widget.has-graph .ms-card-body+p {
    margin: 1rem;
    margin-top: 0;
    color: #3a3952;
    display: flex;
    justify-content: space-between;
  }
  
  .ms-infographics-widget.has-graph h6 {
    margin-bottom: 0;
  }
  
  .ms-infographics-widget .ms-card-body h6 {
    text-transform: uppercase;
  }
  
  .ms-card-change,
  .ms-card-change i {
    font-size: 1.5rem;
  }
  
  .ms-infographics-widget .ms-card-body+i {
    position: absolute;
    top: 1rem;
    right: 3rem;
    color: rgba(255, 255, 255, 0.4);
  }
  
  .ms-infographics-widget .ms-card-body+i::before {
    font-size: 4rem;
  }
  
  .ms-identifier-widget.bg-primary {
    background-color: #ff0018;
  }
  
  .ms-identifier-widget.bg-secondary {
    background-color: #445cc8;
  }
  
  .ms-identifier-widget.bg-success {
    background-color: #5cb85c;
  }
  
  .ms-identifier-widget.bg-info {
    background-color: #5bc0de;
  }
  
  .ms-identifier-widget.bg-warning {
    background-color: #f0ad4e;
  }
  
  .ms-identifier-widget.bg-danger {
    background-color: #d9534f;
  }
  
  .ms-identifier-widget.bg-dark {
    background-color: #34334a;
  }
  
  .ms-identifier-widget.bg-light {
    background-color: #878793;
  }
  
  .ms-identifier-widget .ms-panel-header h6,
  .ms-identifier-widget .ms-panel-body p,
  .ms-identifier-widget .ms-panel-body i {
    color: #fff;
  }
  
  .ms-identifier-widget .ms-panel-body p {
    margin: 3rem 0;
  }
  
  .ms-identifier-widget .ms-panel-body i::before {
    margin-top: 2rem;
    display: block;
    font-size: 3rem;
  }
  
  .ms-identifier-widget .ms-panel-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  